{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Calculator and straw polls
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'global/custom_theme.css' %}">
<style>
.points {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 2px solid
}

.points td {
  border: 1px solid #ddd;
  padding: 1px;
  width: 14.5%;
  text-align: center;
  padding-bottom: 4px;
}

.points th {
  border: 1px solid #ddd;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #0170a3;
  border-bottom: 2px solid  #0170a3;
  color: white;
}

.tr_bottom {
  border-bottom: 3px solid;
}

.points tr:nth-child(even){background-color: #f2f2f2;}

.columnone {
  float: left;
  width: 80%;
  padding: 5px;
}
.columntwo {
  float: left;
  width: 20%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

</style>
{% endblock %}

{% block content %}
  <br>
    <h5>Use this calculator to understand your interests in this negotiation.</h5><br>

<div class="row">
  <div class="columnone">
    <div id="calculator">
    <table class="points">
    <tr><th>Issues</th><th colspan=5>Options</th><th>Issue Points</th></tr>

    <tr><td rowspan=2>Max Building Height</td><td>400ft</td><td>500ft</td><td>600ft</td><td>700ft</td><td>800ft</td><td rowspan=2><output id="height_output"></output> </td></tr>
    <tr><td><input type="radio" name="height" value="400" oninput="height_output.value = 00"></td>
          <td><input type="radio" name="height" value="500" oninput="height_output.value = 0"></td>
          <td><input type="radio" name="height" value="600" oninput="height_output.value = 10"></td>
          <td><input type="radio" name="height" value="700" oninput="height_output.value = 20"></td>
          <td><input type="radio" name="height" value ="800" oninput="height_output.value = 30"></td></tr>

        <tr><td rowspan=2>Entertainment Complex</td><td>0 venues</td><td>1 venue</td><td>2 venues</td><td>3 venues</td><td>4 venues</td><td rowspan=2><output id="venues_output"></output></td></tr>
      <tr><td><input type="radio" name="venues" value=0 oninput="venues_output.value = 0"></td>
            <td><input type="radio" name="venues" value=1 oninput="venues_output.value = 5"></td>
            <td><input type="radio" name="venues" value=2 oninput="venues_output.value = 11"></td>
            <td><input type="radio" name="venues" value=3 oninput="venues_output.value = 14"></td>
            <td><input type="radio" name="venues" value =4 oninput="venues_output.value = 19"></td>
          </tr>

      <tr><td rowspan=2>Low-income residential</td><td>6%</td><td>9%</td><td>12%</td><td>15%</td><td rowspan=2></td><td rowspan=2><output id="li_output"></output></td></tr>
      <tr><td><input type="radio" name="li" value="6" oninput="li_output.value = 11"></td>
            <td><input type="radio" name="li" value="9" oninput="li_output.value = 8"></td>
            <td><input type="radio" name="li" value="12" oninput="li_output.value = 4"></td>
            <td><input type="radio" name="li" value="15" oninput="li_output.value = 0"></td></tr>

      <tr><td rowspan=2>Green Space</td><td>14 acres</td><td>16 acres</td><td>18 acres</td><td>20 acres</td><td rowspan=2></td><td rowspan=2><output id="green_output"></output></td></tr>
      <tr><td><input type="radio" name="green" value=14 oninput="green_output.value = 17"></td>
            <td><input type="radio" name="green" value=16 oninput="green_output.value = 11"></td>
            <td><input type="radio" name="green" value=18 oninput="green_output.value = 8"></td>
            <td><input type="radio" name="green" value=20 oninput="green_output.value = 0"></td>
            </tr>

      <tr><td rowspan=2>Property mix (r:c)</td><td>30:70</td><td>50:50</td><td>70:30</td><td rowspan=2></td><td rowspan=2></td><td rowspan=2><output id="mix_output"></output></td></tr>
          <tr><td ><input type="radio" name="mix" value="30:70" oninput="mix_output.value = {{ mix_1 }}"></td>
                <td ><input type="radio" name="mix" value="50:50" oninput="mix_output.value = {{ mix_2 }}" ></td>
                <td><input type="radio" name="mix" value="70:30" oninput="mix_output.value = {{ mix_3 }}"></td></tr></table>

        <span style="margin-left:74%;font-size:1.3em">Total Points:&emsp;&emsp;&emsp;<span id="total">-</span></span>
<span style="margin-left:74%;font-size:1.3em"><button type="button" id="submit_prop" onclick=submit_proposal()>Submit for Straw Poll</button></span>
</div></div>
<div class="columntwo">
  <div id="hidden_prop" visible=false value=""></div>
<table class="points"><tr><th><span id="who">{{ straw_init }}</span> straw poll</th></tr>
  <tr><td rowspan=2 style="height:4em"><span id="poll_height">-</span></td></tr>
  <tr></tr>
  <tr><td style="height:3.68em"><span id="poll_venue">-</span></td></tr>
  <tr><td style="height:3.68em"><span id="poll_li">-</span></td></tr>
  <tr><td style="height:3.68em"><span id="poll_green">-</span></td></tr>
  <tr><td style="height:3.68em"><span id="poll_mix">-</span></td></tr>
</table>
<table>
  <tr><td><button type="button" id="accept" onclick=accept_sp() hidden>Vote Yes</button></td><td><button type="button" id="decline" onclick=decline_sp() hidden>Vote No</button></td></tr>
<tr><td colspan=2><span id="ivoted"></span><tr></table>
</div>
</div>
<br><br>

<script>
  if ( String({{ straw_prop }})  != "0") {
    console.log("populating_straw_poll");
    prop = String({{ straw_prop }});
    populate_straw_poll(prop);
  };

  randomID = decodeURIComponent(document.cookie)
  if (randomID == "") {
    randomID = Math.random().toString(36).substr(2, 9);
    document.cookie = "randomID="+randomID+";SameSite=Strict"
  }

  function submit_proposal(e){
    console.log(height_switch(e), venue_switch(e), green_switch(e), mix_switch(e), li_switch(e))
    if (height_switch(e)=="0" || venue_switch(e)=="0" || green_switch(e)=="0" || mix_switch(e)=="0" || li_switch(e)=="0") {alert("Please provide a complete proposal");}
    else {
      if (confirm("Are you sure you want to submit this as a straw poll?") == true) {
        var interaction = "2;"+height_switch(e)+venue_switch(e)+green_switch(e)+li_switch(e)+mix_switch(e)+";"+decodeURIComponent(document.cookie) +";"+Date.now();
        liveSend(interaction);
      };
  }
  };

  function accept_sp(e){
    if (confirm("Please confirm you are voting FOR this straw proposal.")==true){
    document.querySelector("#ivoted").innerHTML = "You voted FOR this straw proposal";
    document.querySelector("#accept").hidden=true;
    document.querySelector("#decline").hidden=true;
    response = "3;"+document.querySelector("#hidden_prop").value+";1;"+decodeURIComponent(document.cookie) +";"+Date.now();
    liveSend(response);
  }
  };
  function decline_sp(e){
    if (confirm("Please confirm you are voting AGAINST this straw proposal.")==true) {document.querySelector("#ivoted").innerHTML = "You voted AGAINST this straw proposal";
    document.querySelector("#accept").hidden=true;
    document.querySelector("#decline").hidden=true;
    response = "3;"+document.querySelector("#hidden_prop").value+";0;"+ decodeURIComponent(document.cookie)+";"+Date.now();
    liveSend(response);
  }
  };

  function populate_straw_poll(data) {
    document.querySelector("#poll_height").innerHTML=height_unswitch(data[0]);
    document.querySelector("#poll_venue").innerHTML=venue_unswitch(data[1]);
    document.querySelector("#poll_green").innerHTML=green_unswitch(data[2]);
    document.querySelector("#poll_li").innerHTML=li_unswitch(data[3]);
    document.querySelector("#poll_mix").innerHTML=mix_unswitch(data[4]);
    document.querySelector("#accept").hidden=false;
    document.querySelector("#decline").hidden=false;
    document.querySelector("#submit_prop").disabled=true;
    document.querySelector("#ivoted").innerHTML = "";
    document.querySelector("#hidden_prop").value = data.slice(0,5);
  };

  function liveRecv(data) {
    if (data[0]=="2"){
      populate_straw_poll(data.slice(1,));
      document.querySelector("#who").innerHTML = data.slice(6,)+"'s";

    } else if (data[0]=="3") {
      passes = data[1];
      votes = data[2];
      if (passes=="1") {
        var message = "This proposal passed with "+ votes + " votes";
      } else {
        var message = "This proposal did not pass. It received " + votes + " votes";
      }
      document.querySelector("#ivoted").innerHTML=message;
      document.querySelector("#accept").visible=false;
      document.querySelector("#decline").visible=false;
      document.querySelector("#submit_prop").disabled=false;
    } else {
      console.log("Voting data format error" + data);
    }
      // your code goes here
  }
  function height_unswitch(v) {
    switch (v) {case "1": return "400ft"; case "2": return "500ft"; case "3": return "600ft"; case "4": return "700ft"; case "5": return "800ft";};
  };

  function venue_unswitch(v) {
    switch (v) {case "1": return "0 venues"; case "2": return "1 venue"; case "3": return "2 venues"; case "4": return "3 venues"; case "5": return "4 venues";};
  };

  function green_unswitch(v) {
    switch (v) {case "1": return "14 acres"; case "2": return "16 acres"; case "3": return "18 acres"; case "4": return "20 acres";};
  };

  function li_unswitch(v) {
    switch (v) {case "1": return "6%"; case "2": return "9%"; case "3": return "12%"; case "4": return "15%";};
  };

  function mix_unswitch(v) {
    switch (v) {case "1": return "30:70"; case "2": return "50:50"; case "3": return "70:30";};
  };

  function height_switch(e) {
    switch (document.querySelector("#height_output").value) {case "00": return "1"; case "0": return "2"; case "10": return "3"; case "20": return "4"; case "30": return "5"; default: return "0";};
  };
  function venue_switch(e) {
    switch (document.querySelector("#venues_output").value) {case "0": return "1"; case "5": return "2"; case "11": return "3"; case "14": return "4"; case "19": return "5"; default: return "0";};
  };
  function green_switch(e) {
    switch (document.querySelector("#green_output").value) {case "17": return "1"; case "11": return "2"; case "8": return "3"; case "0": return "4"; default: return "0";};
  };
  function mix_switch(e) {
    switch (document.querySelector("#mix_output").value) {case String({{ mix_1 }}) : return "1"; case String({{ mix_2  }}) : return "2"; case String({{ mix_3 }}) : return "3"; default: return "0";};
  };
  function li_switch(e) {
    switch (document.querySelector("#li_output").value) {case "11": return "1"; case "8": return "2"; case "4": return "3"; case "0": return "4"; default: return "0";};
  };

  document.querySelector("#calculator").addEventListener("change", function(e){
    var subtotal=Number(document.querySelector("#mix_output").value)+Number(document.querySelector("#green_output").value)+Number(document.querySelector("#li_output").value)+Number(document.querySelector("#height_output").value)+Number(document.querySelector("#venues_output").value);
    document.querySelector("#total").innerHTML= subtotal.toString();
    var interaction = "1;"+height_switch(e)+venue_switch(e)+green_switch(e)+li_switch(e)+mix_switch(e)+";"+ decodeURIComponent(document.cookie)+";"+Date.now();
    console.log(interaction);
    liveSend(interaction);
  });
</script>
{% endblock %}
