{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    BioPharm - Seltek
{% endblock %}


{% block styles %}
<link rel="stylesheet" href="{% static 'global/custom_theme.css' %}">
{% endblock %}

{% block content %}
<br><br>
In the next class session, you will negotiate the <b><i>BioPharm-Seltek</i></b> case. It is a straightforward, two party case that will touch on a number of key issues in negotiations.<br><br>
In the days before class, you'll read the case materials, specify some potential outcomes and writing a planning document. (This should take between 20-60 minutes.) At the start of class, you will be paired off to negotiate with a partner for {{ total_time }}. You'll then report the outcome and submit feedback to your partner.
<br><br>
Click the Next button to see the case materials.
<br><br>
<div style="margin-left: 90%;">
    {% next_button %}
</div>

{% endblock %}
