{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Negotiation partner and location
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
{% endblock %}

{% block content %}

{% if player.meeting_inperson %}
<div style="margin-top:10%">
You'll be negotiating with <span style="font-size:1.5em">{{ player.partner }}</span>. After you've read the case materials, find them and a spot to negotiate.

</div>

{% else %}

<div style="margin-top:5%">
<p>You'll be negotiating with <span style="font-size:1.5em">{{ player.partner }}</span> in a Zoom breakout room.<br><br>In case you need it, here is the <a href={{ zoom_link }}>link back to our Zoom classroom</a></p>
<br>
</div>

{% endif %}
<br><br><br>


<div id="clocked" style="margin-left:90%;margin-bottom:5%">
      {% next_button %}

</div>
<br><br>

{% endblock %}
