{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Planning Document
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'global/custom_theme.css' %}">
{% endblock %}

{% block content %}


<div style="text-align:left">
<p>You'll now write about how you will approach this negotiation. You might consider things like the relative importance of issues, your emotions. and strategies for getting to your desired outcome.</p>
<p>To compose and submit your plan, follow this
<a target="_blank" rel="noopener noreferrer" href="https://canvas.stanford.edu/courses\{{ assignment_url }}">link to the Canvas assignment</a> (new tab)</p>
</div><br>
  <div style="margin-left:90%">
        {% next_button %}
  </div><br><br>

{% endblock %}
