{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
  Possible Outcomes
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'global/custom_theme.css' %}">
{% endblock %}

{% block content %}
  <br>
    The first thing you need to do is figure out your range of acceptable outcomes for your role.<br><br>
    {% formfields %}
<br><br>
If you need to view the case materials again, click
<a target="_blank" rel="noopener noreferrer" href="{% static pdf_file %}">here</a> (new tab).
<br><br>
    <div style="margin-left:90%">
        {% next_button %}
    </div>
<br><br>
{% endblock %}
