{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
  Possible Outcomes
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
{% endblock %}

{% block content %}
  <br>
    The first thing you need to do is figure out what is the best possible outcome for you given your role.<br><br>
    {% formfields %}
<br><br>
View the case materials
<a target="_blank" rel="noopener noreferrer" href="{% static pdf_file %}">here</a> (new tab).
<br><br>
    <div id="clocked" style="margin-left:90%">
        {% next_button %}
    </div>
<br><br>
{% endblock %}
