{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    BioPharm - Seltek
{% endblock %}


{% block styles %}
<link rel="stylesheet" href="{% static 'global/custom_theme.css' %}">
{% endblock %}

{% block content %}
<br><br>
Once you've submitted your planning document via the Canvas assignment, you're all ready to negotiate.
<br><br>
On Monday, you'll be able to return to this page to see who your partner is, time the negotiation using the app, and report the outcome of the negotiation.
<br><br><br><br>

{% endblock %}
