{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Negotiation Experience
{% endblock %}


{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
{% endblock %}

{% block content %}

<div style="text-align:left">

Before 11:59pm tonight, you need to describe for your negotiating partner your impressions of the negotiation as it unfolded.
<br><br>
<p>You can find more details and submit the feedback using <a target="_blank" rel="noopener noreferrer" href="https://canvas.stanford.edu/courses\{{ feedback_url }}">this Canvas assignment</a> (new tab)</p>

If interested, you can view the case materials for both roles now:<br>
<a target="_blank" rel="noopener noreferrer" href="{% static BF_pdf_file %}">BioPharm</a> (new tab).
<a target="_blank" rel="noopener noreferrer" href="{% static ST_pdf_file %}">Seltek</a> (new tab).

<br><br>
Otherwise you're done with the exercise and may close this tab.
<br>
<br>

{% endblock %}
