{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Case Materials - DO NOT DISTRIBUTE
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
{% endblock %}

{% block content %}
<script type="text/javascript" src="{% static 'global/jquery.countdown.js' %}"></script>

<script type="text/javascript">
    $(function() {
        var currentDate = new Date();
        var milliseconds = 300000;
        $('div#clocked').countdown(currentDate.valueOf() + milliseconds, function(event) {
                console.log(event.type)
                switch(event.type) {
                    case "finish":
                      $('div#clocked').show();
                    case "finished":
                        $('div#clocked').show();
                }
            });


    });
</script>
You will be able to view this again once the negotiation has begun.
<div style="height:70vh;">
<object  data="{% static file_loc %}" type="application/pdf" style="width:95%;height:100%;margin-left:3%;margin-right:2%"></object>
</div>
<br>
<div id="clocked" style="display:none;margin-left:90%">
    {% next_button %}
</div>

{% endblock %}
