{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    BioPharm - Seltek<br>
  <span style="font-size:.6em"> a DRRC case</span><span style="font-size:.5em">©</span>
{% endblock %}


{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
{% endblock %}

{% block content %}

<div style="width:65%;margin-top:10%">
You are about to negotiate the <b><i>BioPharm-Seltek</i></b> case.<br><br>

It is a straightforward two-person case that will touch on a number of key issues in negotiation dynamics<br><br>
You'll have {{ reading_limit }} minutes to read the case. You'll then specify some potential outcomes, write a short planning document, negotiate with a partner and report the outcome.</div>
<br><br>
<div style="margin-left:90%">
    {% next_button %}
</div>

{% endblock %}
