{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Almost done!
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
{% endblock %}

{% block content %}
<script>
function check(input) {

	var inp = input.value.toLowerCase();

	var base = "http://stanford.zoom.us"

  if (inp.includes(base)) {
  input.setCustomValidity('');
}
 	else {
 	input.setCustomValidity("The link should have http://stanford.zoom.us in it. Did you forget to copy the recording link?");}

}


</script>
<div style="width:65%;margin-top:10%">
You're almost all done negotiating the BioPharm Seltek case. <br><br>

You can join us back in the Zoom classroom at this link: <br>
<a href="{{ return_link }}">{{ return_link }}</a><br><br>

You'll get a short break before we begin again.
<br><br></div>
<div style="margin-top:10%">
<h2>BUT BEFORE YOU FORGET</h2>
As the <strong>Seltek</strong> representative, you hosted this negotiation. Please paste the link to the cloud recording here. Zoom should send you a <strong>Sharing Link</strong> when it's ready. <br><br> <em>You can leave this page up until you get the link.</em> <br><br>If necessary, see directions below to do manually share the meeting.<br><br>
<center>
<input type="text" name="link" oninput=check(this)><br>
<span style="font-size:.75em">Must be a <em>http://stanford.zoom.us</em> URL</span></center><br><br>

<div style="margin-left:90%">
<button class="otree-btn-next btn btn-primary">Submit</button>

</div>
<br><br><br>
<center><h3>Manual Directions if necessary</h3></center>
<br>
<h5>Overview</h5>
Make the recording publicly available and copy the link. Feel free to set the expiry date to 7 days and password protect it with the password <em><strong>@well581</strong></em>.<br><br>
<h4>Step 1: Go to your Zoom homepage, click <strong>Recordings</strong> on the sidebar</h4>
<img src="{% static "BiopharmSeltek/homepage.png" %}" width=100%/>
<br><br><br>
<h4>Step 2: From the <strong>Recordings</strong> page, click on the share button for the correct meeting</h4>
<img src="{% static "BiopharmSeltek/recording.png" %}" width=100%/>
<br><br><br>
<h4>Step 3 (4 parts)</h4>
1) Turn on <strong>Share This Recording</strong>,<br>
2) Click the link named<strong>Copy Sharing Information to Clipboard</strong> to copy the link<br>
3) Click the <strong>Done</strong> button to save the settings.<br>
4) Paste the link above<br><br>
 (Optional) Use various security measures if you'd like. If you use a password, use <strong>@well581</strong>
<img src="{% static "BiopharmSeltek/share-screen.png" %}" width=100%/>
</div>

{% endblock %}
