{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Starting the meeting
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
{% endblock %}

{% block content %}
<div style="max-height:750vh">
Now you'll join your negotiation partner in this breakout room. Once you join the meeting, go to the next page to get back to the case materials.<br><br><br>
<center>
<iframe height="400vh" width="75%" src="{{ group.link }}"></iframe></center>
<br><br>

If you see a <strong>Page not found</strong> message, the link was not valid. Instead, come back to the virtual classroom and we'll sort it out: <a href="{{ return_link }}">{{ return_link }}</a>
<div id="clocked" style="margin-left:90%">
      {% next_button %}
</div>
</div>

{% endblock %}
