{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
BioPharm - Seltek<br>
<span style="font-size:.6em"> a DRRC case</span><span style="font-size:.5em">©</span>
{% endblock %}

{% block content %}
<div style="width:65%;margin-top:10%">
You are all done negotiating the BioPharm Seltek case. <br><br>

Join us back in the Zoom classroom at this link: <br>
<a href="https://stanford.zoom.us/j/4340648848">https://stanford.zoom.us/j/4340648848</a><br><br>

You'll get a short break before we begin again.


</div>
<br><br>


{% endblock %}
