{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Planning Document
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
{% endblock %}

{% block content %}
<script>


function textCounter(field, maxLength)
{
var countfield = document.getElementById('counter')
var words = field.value.split(" ");
 if (words.length> maxLength ) {
  countfield.innerHTML = "Words Left: 0";
  document.getElementById("clocked").style.display="block";
  return false;
 } else {
  countfield.innerHTML = "Words Left: " + (maxLength - words.length).toString();
 }
}

</script>

<div style="width:60%;text-align:left">
Write about how you will approach this negotiation. You might consider things like the relative importance of issues, your emotions. and strategies for getting to your desired outcome. You have {{ Constants.planning_doc_time_minutes }} minutes to complete it.</div><br>

<div style="width:750px"> <textarea name="planning_text" cols=200 rows=20 required="" id="id_planning_text" class="form-control" onkeyup="textCounter(this, {{ max_word_limit }});" id="message" style="max-width:100%">
</textarea></div>
    <div id="counter" style="margin-left:30%">Words Left: {{ max_word_limit }}</div>
  <div id="clocked" style="display:none;margin-left:75%">
        {% next_button %}
  </div>

{% endblock %}
