{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Negotiating Survey
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
{% endblock %}

{% block content %}

<div style="width:70%;margin-left:15%">
<h6>Please answer the following self evaluation questions</h6>
<br>


<em>Question 1</em>: How comfortable do you feel in settings in which there is a need or possibility for you to negotiate?<span style="font-size:.7em"> [ 1 - Not at all comfortable ---- 7 - Very comfortable ]</span><br><br>
<center>1&nbsp;<input name="settings_rating" id="settings_rating" type="range" min="1" max="7" step="1" value="1" oninput="settings_rating_output.value = this.value" style="vertical-align:middle"/>&nbsp;7 &emsp;Your choice:&nbsp;<output id="settings_rating_output">1</output><br><br><br></center>

<em>Question #2</em>: How skilled at negotiating do you consider yourself? <br><span style="font-size:.7em">[ 1 - Not at all skilled ---- 7 - Very skilled ]</span><br><br>
<center>1&nbsp;<input name="skilled_rating" id="skilled_rating" type="range" min="1" max="7" step="1" value="1" oninput="skilled_rating_output.value = this.value" style="vertical-align:middle"/>&nbsp;7&emsp;Your choice:&nbsp;<output id="skilled_rating_output">1</output><br><br><br></center>

<em>Question #3</em>:  How much experience negotiating do you think you have relative to your peers?<span style="font-size:.7em"> [ 1 - Very little ---- 7 - A lot more ]</span><br><br>

<center>1&nbsp;<input name="experience_rating" id="experience_rating" type="range" min="1" max="7" step="1" value="1" oninput="experience_rating_output.value = this.value" style="vertical-align:middle"/>&nbsp;7&emsp;Your choice:&nbsp;<output id="experience_rating_output">1</output><br></center>
</div>
<div style="margin-left:90%">
    {% next_button %}
</div>


{% endblock %}
