{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    New Recruit - DRRC<span style="font-size:.5em">©
{% endblock %}

{% block content %}
<div style="width:65%;margin-top:10%">
You are about to negotiate the <b><i>New Recruit</i></b> case.<br><br> It is a straightforward two-person case that will touch on a number of key issues in the <b><i>mathematics</i></b> of negotiation.<br><br>
You'll have {{ reading_limit }} minutes to read the case. You'll then specify your target outcome, write a short planning document, negotiate with a partner and report the outcome.</div>
<br><br>
<div style="margin-left:90%">
    {% next_button %}
</div>

{% endblock %}
