{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    NoCode, Inc.
{% endblock %}


{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
{% endblock %}

{% block content %}
<br>
On Monday, you are going to negotiate the <b><i>NoCode, Inc.</i></b> case. It is a two-person negotiation about a job offer that will force you to think about negotiating multiple issues.<br><br>
You'll start by reading the case materials and using a spreadsheet understand your interests. You'll write a planning document and rank the importance of the issues. In class, you'll have {{ total_time }}  minutes to negotiate the case with a partner and report the outcome. Before the end of the day, you'll provide feedback to your partner.
<br><br>
Click the Next button to see the case materials.
<br><br>
<div style="margin-left:90%">
    {% next_button %}
</div>

{% endblock %}
