{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Negotiation partner
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
{% endblock %}

{% block content %}

<div style="margin-top:10%">
Today you'll be negotiating with <span style="font-size:1.5em">{{ partner }}</span>. Find them and a spot to negotiate. If you're not sure who that is, come to the front of the room and we'll make sure you get paired off.
<br><br>
Shortly, Professor Atwell will advance you to the next page and the timed portion of the negotiation will begin ({{ negotiating_time }} minutes total). You'll see the case materials again on the next page.
<br><br>
Stay strong and good luck!
</div>
<br><br><br>


<br><br>

{% endblock %}
