{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Planning Document
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
{% endblock %}

{% block content %}


<div style="text-align:left">
You're going to write about how you will approach this negotiation. You might consider things like the relative importance of issues, your emotions, and strategies for getting to your desired outcome. <i>The Canvas assignment page has additional suggestions</i>
<br><br>
Submit your plan before the deadline on this <a target="_blank" rel="noopener noreferrer" href="https://canvas.stanford.edu/courses\{{ assignment_url }}">Canvas assignment page</a>.
</div><br>

<br>
    View the case materials:<br>
    <a target="_blank" rel="noopener noreferrer" href="{% static pdf_file %}">PDF</a><br>
    <a target="_blank" rel="noopener noreferrer" href="{% static xlsx_file %}">Point system spreadsheet</a><br>
  <div style="margin-left:90%">
        {% next_button %}
  </div>

{% endblock %}
