{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Recruiter's Interests
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
<style>
.points {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 2px solid
}

.points td {
  border: 1px solid #ddd;
  padding: 1px;
  width: 14.5%;
  text-align: center;
  padding-bottom: 4px;
}

.points th {
  border: 1px solid #ddd;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #8c1515;
  border-bottom: 2px solid #8c1515;
  color: white;
}

.tr_bottom {
  border-bottom: 3px solid;
}

.points tr:nth-child(even){background-color: #f2f2f2;}

</style>
{% endblock %}

{% block content %}
  <br>
    <h5>Use this calculator to understand the recruiter's interests (preferences) in this negotiation.</h5>You'll need to have an option selected for each field to be able to move on to the next page.<br><br>


<div id="calculator">
    <table class="points">
    <tr><th rowspan=2>Issues</th><th rowspan=2 colspan=5>Options</th><th>Issue</th</tr>
    <tr><th>Points</th></tr>
    <tr><td rowspan=2>Bonus</td><td>10%</td><td>8%</td><td> 6%</td><td>4%</td><td>2%</td><td></td></tr>
    <tr><td ><input type="radio" name="bonus" value="10" oninput="bonus_output.value = 0"></td>
          <td ><input type="radio" name="bonus" value="8" oninput="bonus_output.value = 400" ></td>
          <td><input type="radio" name="bonus" value="6" oninput="bonus_output.value = 800"></td>
          <td><input type="radio" name="bonus" value="4" oninput="bonus_output.value = 1200"></td>
          <td><input type="radio" name="bonus" value="2"oninput="bonus_output.value = 1600"></td>
          <td><output id="bonus_output"></output></td></tr>

      <tr><td rowspan=2>Job Assignment</td><td>Division A</td><td>Division B</td><td>Division C</td><td>Division D</td><td>Division E</td><td></td></tr>
      <tr><td ><input type="radio" name="job_assignment" value="Division A" oninput="job_output.value = 0"></td>
            <td><input type="radio" name="job_assignment" value="Division B" oninput="job_output.value = -600"></td>
            <td><input type="radio" name="job_assignment" value="Division C" oninput="job_output.value = -1200"></td>
            <td><input type="radio" name="job_assignment" value="Division D" oninput="job_output.value = -1800"></td>
            <td><input type="radio" name="job_assignment" value ="Division E" oninput="job_output.value = -2400"></td>
            <td><output id="job_output"></output></td></tr>

      <tr><td rowspan=2>Vacation Time</td><td>25 days</td><td>20 days</td><td>15 days</td><td>10 days</td><td>5 days</td><td></td></tr>
      <tr><td><input type="radio" name="vacation_time" value=25 oninput="vacation_output.value = 0"></td>
            <td><input type="radio" name="vacation_time" value=20 oninput="vacation_output.value = 1000"></td>
            <td><input type="radio" name="vacation_time" value=15 oninput="vacation_output.value = 2000"></td>
            <td><input type="radio" name="vacation_time" value=10 oninput="vacation_output.value = 3000"></td>
            <td><input type="radio" name="vacation_time" value =5 oninput="vacation_output.value = 4000"></td>
          <td><output id="vacation_output"></output></td></tr>

      <tr><td rowspan=2>Starting Date</td><td>June 1</td><td>June 15</td><td>July 1</td><td>July 15</td><td>August 1</td><td></td></tr>
      <tr><td><input type="radio" name="starting_date" value="June 1" oninput="start_output.value = 0"></td>
            <td><input type="radio" name="starting_date" value="June 15" oninput="start_output.value = 600"></td>
            <td><input type="radio" name="starting_date" value="July 1" oninput="start_output.value = 1200"></td>
            <td><input type="radio" name="starting_date" value="July 15" oninput="start_output.value = 1800"></td>
            <td><input type="radio" name="starting_date" value ="August 1" oninput="start_output.value = 2400"></td>
          <td><output id="start_output"></output></td></tr>

    <tr><td rowspan=2>Moving Expenses Coverage</td><td>100%</td><td>90%</td><td>80%</td><td>70%</td><td>60%</td><td></td></tr>
        <tr><td><input type="radio" name="moving_expenses" value=100 oninput="moving_output.value = 0"></td>
              <td><input type="radio" name="moving_expenses" value=90 oninput="moving_output.value = 200"></td>
              <td><input type="radio" name="moving_expenses" value=80 oninput="moving_output.value = 400"></td>
              <td><input type="radio" name="moving_expenses" value=70 oninput="moving_output.value = 600"></td>
              <td><input type="radio" name="moving_expenses" value =60 oninput="moving_output.value = 800"></td>
            <td><output id="moving_output"></output></td></tr>

        <tr><td rowspan=2>Insurance Coverage</td><td>Plan A</td><td>Plan B</td><td>Plan C</td><td>Plan D</td><td>Plan E</td><td></td></tr>
        <tr>
        <td><input type="radio" name="insurance_coverage" value="Plan A" oninput="insurance_output.value = 0"></td>
        <td><input type="radio" name="insurance_coverage" value="Plan B" oninput="insurance_output.value = 800"></td>
        <td><input type="radio" name="insurance_coverage" value="Plan C" oninput="insurance_output.value = 1600"></td>
        <td><input type="radio" name="insurance_coverage" value="Plan D" oninput="insurance_output.value = 2400"></td>
        <td><input type="radio" name="insurance_coverage" value ="Plan E" oninput="insurance_output.value = 3200"></td>
        <td><output id="insurance_output"></output></td></tr>

        <tr><td rowspan=2>Salary</td><td>$90,000</td><td>$88,000</td><td>$86,000</td><td>$84,000</td><td>$82,000</td><td></td></tr>
        <tr><td><input type="radio" name="salary" value=90000 oninput="salary_output.value = -6000"></td>
        <td><input type="radio" name="salary" value=88000 oninput="salary_output.value = -4500"></td>
        <td><input type="radio" name="salary" value=86000 oninput="salary_output.value = -3000"></td>
        <td><input type="radio" name="salary" value=84000 oninput="salary_output.value = -1500"></td>
        <td><input type="radio" name="salary" value =82000 oninput="salary_output.value = 0"></td>
        <td><output id="salary_output"></output></td></tr>


        <tr><td rowspan=2>Location</td><td>San Francisco</td><td>Atlanta</td><td>Chicago</td><td>Boston</td><td>New York</td><td></td></tr>
        <tr>
        <td><input type="radio" name="location" value="San Francisco" oninput="location_output.value = 1200"></td>
        <td><input type="radio" name="location" value="Atlanta" oninput="location_output.value = 900"></td>
        <td><input type="radio" name="location" value="Chicago" oninput="location_output.value = 600"></td>
        <td><input type="radio" name="location" value="Boston" oninput="location_output.value = 300"></td>
        <td><input type="radio" name="location" value ="New York" oninput="location_output.value = 0"></td>
        <td><output id="location_output"></output></td></tr></table>
        <br><br>
        <span style="margin-left:80%;font-size:1.3em">Total Points:&emsp;<span id="total">0</span></span>

</div>
<br><br>
<div style="margin-left:90%">
    {% next_button %}
</div>


    <script>
      document.querySelector("#calculator").addEventListener("change", function(e){
        var subtotal=Number(document.querySelector("#bonus_output").value)+Number(document.querySelector("#job_output").value)+Number(document.querySelector("#vacation_output").value)+Number(document.querySelector("#start_output").value)+Number(document.querySelector("#moving_output").value)+Number(document.querySelector("#insurance_output").value)+Number(document.querySelector("#salary_output").value)+Number(document.querySelector("#location_output").value);
        document.querySelector("#total").innerHTML= subtotal.toString();
        })
    </script>
{% endblock %}
