{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    New Recruit
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
{% endblock %}

{% block content %}

<b><i>New Recruit</i></b> case, a two-person case.<br>

<br><br>
You will:
<ul>
<li>have {{ C.READING_TIME }} minutes to read the case.</li>
<li>identify the initial offer you'd like to make.</li>
<li>have {{ C.PLANNING_DOC_TIME }} minutes to write a short planning document.</li>
<li>have {{ C.NEGOTIATING_TIME }} minutes to negotiate with a partner.</li>
<li>report the outcome and about the process.</li>
</ul>
<br>
<div style="margin-left:90%">
    {% next_button %}
</div>
<br>

{% endblock %}
