{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
OmniChannel
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
{% endblock %}

{% block content %}

You now preparing to negotiate the <b><i>OmniChannel</i></b> case, a <strong>two-party, team-against-team</strong> negotiation.<br>

<br><br>
You will:
<ul>
<li>have about {{ C.READING_TIME }} minutes to read the case.</li>
<li>have about {{ C.PLANNING_DOC_TIME }} minutes to write a planning document.</li>
<li>have {{ C.COORDINATING_TIME }} minutes to coordinate with your team members.</li>
<li>have the remainder of class to negotiate an agreement.</li>
<li>report the outcome and reflect on the negotiation (by midnight today).</li>
</ul>
We will debrief the results in the next class session.
<br><br><br>
<div style="margin-left:90%">
    {% next_button %}
</div>
<br>

{% endblock %}
