{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Negotiated Outcome
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
{% endblock %}

{% block content %}

{% formfield group.sla %}<br>
{% formfield group.warehouse %}<br>
{% formfield group.contract %}<br>
{% formfield group.location %}<br>
{% formfield group.juice_split1 %}<br>
{% formfield group.spice_split1 %}<br>
{% formfield group.juice_split2 %}<br>
{% formfield group.spice_split2 %}
<br><br>

<div id="clocked" style="margin-left:90%">
    {% next_button %}
</div>

{% endblock %}
