{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Time to emaill
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
{% endblock %}

{% block content %}
<br><br>
<h4>You are now ready to send an email to open the negotiation!</h4>
<br>
From the site, you know that the name of the dealer is <strong>{{ name }}</strong> and that their email address is: <strong>{{ email }}</strong>.
Email them soon!

<div style="margin-left:90%">
    {% next_button %}
</div>
<br>

{% endblock %}
