{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Sugar Bowl
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
{% endblock %}

{% block content %}

You are now preparing for the <b><i>Sugar Bowl</i></b> case, a two-person case done via email.<br>

<br>
You will:
<ul>
<li>read the case.</li>
<li>write a short planning document.</li>
<li>negotiate with a partner using your personal email accounts.</li>
<li>report the outcome and about the process.</li>
</ul>
<br>
<div style="margin-left:90%">
    {% next_button %}
</div>
<br>

{% endblock %}
