{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
OB581 seat allocation
{% endblock %}

{% block content %}

<p style="margin-top:5%">
I'm expecting seats to be in demand. Please don't claim a spot in the physical classroom unless you fully expect to attend in person.<br><br>If you claim one but then develop COVID-like symptoms, please let me know you won't be coming. In enchange for your caution, I will guarantee you an in-person spot as soon as you're cleared to return to in-person interaction.
<br><br>

Please go to the next page to claim your seat if you're currently eligible or to put yourself on the waitlist.
  </p><br>


    {% next_button %}

{% endblock %}
