{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
NEW RECRUIT

{% endblock %}


{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
<style>
#points {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#points td, #points th {
  border: 1px solid #ddd;
  padding: 2px;

  text-align: center;
}

.tr_top {
  border-bottom: 3px solid;
}

#points tr:nth-child(even){background-color: #f2f2f2;}


#points th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #8c1515;
  color: white;
}
</style>
{% endblock %}

{% block content %}
<script type="text/javascript" src="{% static 'global/jquery.countdown.js' %}"></script>

<script type="text/javascript">
    $(function() {
        var currentDate = new Date();
        var milliseconds = js_vars.button_show;
        $('div#clocked').countdown(currentDate.valueOf() + milliseconds, function(event) {
                console.log(event.type)
                switch(event.type) {
                    case "finish":
                      $('div#clocked').show();
                    case "finished":
                        $('div#clocked').show();
                }
            });


    });
</script>
a DRRC case, written by Margaret A. Neale
<h2></h2>
<br>
<h4>Role of the Candidate</h4>
<br>
<h6>You'll be able to see these materials again once the live negotiation has started but you can also <a href="{% static pdf_file %}" download>download a pdf version here.</a></h6>
<br>
<p>This is a negotiation between a job recruiter and a job candidate. You will play the role of the Job Candidate. There are eight issues of concern in this negotiation:
<ul>
<li>Bonus</li>
<li>Job Assignment</li>
<li>Vacation Time</li>
<li>Starting Date</li>
<li>Moving Expense Coverage</li>
<li>Insurance Coverage</li>
<li>Salary</li>
<li>Location</li></ul>
<p>Your goal, as the candidate, is to reach an agreement with the employer on all eight issues that is best for you. THE MORE POINTS YOU EARN, THE BETTER. You may determine what agreement is best for you by referring to the <em>Candidate Point Sheet</em> below.</p>
<p>The eight issues are listed separately. There are five different alternatives for each of the issues. For example, the salary can range from $82,000 to $90,000. Please note the number of points you will receive for each type of agreement. As a negotiator, you may settle upon any of the five alternatives for each of the issues. Thus, there are a very large number of feasible settlements.</p>

<p>You should note that each issue has a different degree of importance to you, as indicated by the magnitude of the number of points you could gain or lose. You will have {{ Constants.negotiating_time }} minutes to reach agreement on all 8 issues. In order for any agreement to be binding, you need to reach an agreement with the employer on all eight issues.</p>
<p><em><strong>Important Instructions:</strong> Do not, at any time, tell the other person how many points you are getting. Do not share with the negotiator anything from your <em>Candidate Point Sheet.</em> This information is strictly for you.</em></p><br>
<h4>On the next page, there is a calculator that will help you explore different combinations.</h4>
<p>The highest number of points you can obtain from this negotiation is plus 13,200 and the lowest number is minus 8,400. These point totals were calculated by adding up the highest number of points you could receive for each of the 8 issues and the lowest number. </p>
<br>
<center><h3>Candidate Point Sheet</h3></center>
<table id="points">
<tr><th>Issue</th><th>Options</th><th>Points</th></tr>
<tr><td rowspan="5" width="40%">Bonus</td><td width="30%">10%</td><td width="30%">4000</td></tr>
<tr><td>8%</td><td>3000</td></tr>
<tr><td>6%</td><td>2000</td></tr>
<tr><td>4%</td><td>1000</td></tr>
<tr class="tr_top"><td>2%</td><td>0</td></tr>

<tr><td rowspan="5">Job Assignment</td><td>Division A</td><td>0</td></tr>
<tr><td>Division B</td><td>-600</td></tr>
<tr><td>Division C</td><td>-1200</td></tr>
<tr><td>Division D</td><td>-1800</td></tr>
<tr class="tr_top"><td>Division E</td><td>-2400</td></tr>

<tr><td rowspan="5">Vacation</td><td>25 days</td><td>1600</td></tr>
<tr><td>20 days</td><td>1200</td></tr>
<tr><td>15 days</td><td>800</td></tr>
<tr><td>10 days</td><td>400</td></tr>
<tr class="tr_top"><td>5 days</td><td>0</td></tr>

<tr><td rowspan="5">Start Date</td><td>June 1</td><td>2400</td></tr>
<tr><td>June 15</td><td>1800</td></tr>
<tr><td>July 1</td><td>1200</td></tr>
<tr><td>July 15</td><td>600</td></tr>
<tr class="tr_top"><td>August 1</td><td>0</td></tr>

<tr><td rowspan="5">Moving Expense Coverage</td><td>100%</td><td>3200</td></tr>
<tr><td>90%</td><td>2400</td></tr>
<tr><td>80%</td><td>1600</td></tr>
<tr><td>70%</td><td>800</td></tr>
<tr class="tr_top"><td>60%</td><td>0</td></tr>

<tr><td rowspan="5">Insurance Coverage</td><td>Plan A</td><td>800</td></tr>
<tr><td>Plan B</td><td>600</td></tr>
<tr><td>Plan C</td><td>400</td></tr>
<tr><td>Plan D</td><td>200</td></tr>
<tr class="tr_top"><td>Plan E</td><td>0</td></tr>

<tr><td rowspan="5">Salary</td><td>$90,000</td><td>0</td></tr>
<tr><td>$88,000</td><td>-1500</td></tr>
<tr><td>$86,000</td><td>-3000</td></tr>
<tr><td>$84,000</td><td>-4500</td></tr>
<tr class="tr_top"><td>$82,000</td><td>-6000</td></tr>

<tr><td rowspan="5">Location</td><td>San Francisco</td><td>1200</td></tr>
<tr><td>Atlanta</td><td>900</td></tr>
<tr><td>Chicago</td><td>600</td></tr>
<tr><td>Boston</td><td>300</td></tr>
<tr class="tr_top"><td>New York</td><td>0</td></tr>

</table>
<br><br>



<div style="background-color:lightgray; font-size:.75em;padding:2%">
<strong>© 1996-2014 Dispute Resolution Research Center (DRRC), Kellogg School of Management, Northwestern University. All rights reserved.</strong><br>
DRRC/KTAG teaching materials are protected by copyright law. DRRC requires a per person royalty for use of its exercises. Each purchase of an exercise authorizes copying or electronic distribution of that exercise equal to the quantity purchased.
</div>
<br><br>
<div id="clocked" style="display:none;margin-left:90%">
    {% next_button %}
</div>

{% endblock %}
