{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Negotiated Outcome
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
<style>
.points {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 2px solid
}

.points td {
  border: 1px solid #ddd;
  padding: 1px;
  width: 14.5%;
  text-align: center;
  padding-bottom: 4px;
}

.points th {
  border: 1px solid #ddd;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #8c1515;
  border-bottom: 2px solid #8c1515;
  color: white;
}

.tr_bottom {
  border-bottom: 3px solid;
}

.points tr:nth-child(even){background-color: #f2f2f2;}

</style>
{% endblock %}

{% block content %}

<br>
  <h5>Please enter the choices for the final agreement.</h5><br><br>


<div id="outcome">
  <table class="points">
  <tr><th>Issues</th><th colspan=5>Options</th></tr>
  <tr></tr>
  <tr><td rowspan=2>Bonus</td><td>10%</td><td>8%</td><td> 6%</td><td>4%</td><td>2%</td></tr>
  <tr><td ><input type="radio" name="bonus" value=10></td>
        <td ><input type="radio" name="bonus" value=8></td>
        <td><input type="radio" name="bonus" value=6></td>
        <td><input type="radio" name="bonus" value=4></td>
        <td><input type="radio" name="bonus" value=2></td></tr>

    <tr><td rowspan=2>Job Assignment</td><td>Division A</td><td>Division B</td><td>Division C</td><td>Division D</td><td>Division E</td></tr>
    <tr><td ><input type="radio" name="job_assignment" value="Division A"></td>
          <td ><input type="radio" name="job_assignment" value="Division B"></td>
          <td><input type="radio" name="job_assignment" value="Division C"></td>
          <td><input type="radio" name="job_assignment" value="Division D"></td>
          <td><input type="radio" name="job_assignment" value ="Division E"></td></tr>

    <tr><td rowspan=2>Vacation Time</td><td>25 days</td><td>20 days</td><td>15 days</td><td>10 days</td><td>5 days</td></tr>
    <tr><td><input type="radio" name="vacation_time" value=25></td>
          <td><input type="radio" name="vacation_time" value=20></td>
          <td><input type="radio" name="vacation_time" value=15></td>
          <td><input type="radio" name="vacation_time" value=10></td>
          <td><input type="radio" name="vacation_time" value =5></td></tr>

    <tr><td rowspan=2>Starting Date</td><td>June 1</td><td>June 15</td><td>July 1</td><td>July 15</td><td>August 1</td></tr>
    <tr><td><input type="radio" name="starting_date" value="June 1"></td>
          <td><input type="radio" name="starting_date" value="June 15"></td>
          <td><input type="radio" name="starting_date" value="July 1"></td>
          <td><input type="radio" name="starting_date" value="July 15"></td>
          <td><input type="radio" name="starting_date" value ="August 1"></td></tr>

  <tr><td rowspan=2>Moving Expenses Coverage</td><td>100%</td><td>90%</td><td>80%</td><td>70%</td><td>60%</td></tr>
      <tr><td><input type="radio" name="moving_expenses" value=100></td>
            <td><input type="radio" name="moving_expenses" value=90></td>
            <td><input type="radio" name="moving_expenses" value=80></td>
            <td><input type="radio" name="moving_expenses" value=70></td>
            <td><input type="radio" name="moving_expenses" value =60></td></tr>

      <tr><td rowspan=2>Insurance Coverage</td><td>Plan A</td><td>Plan B</td><td>Plan C</td><td>Plan D</td><td>Plan E</td></tr>
      <tr>
      <td><input type="radio" name="insurance_coverage" value="Plan A"></td>
      <td><input type="radio" name="insurance_coverage" value="Plan B"></td>
      <td><input type="radio" name="insurance_coverage" value="Plan C"></td>
      <td><input type="radio" name="insurance_coverage" value="Plan D"></td>
      <td><input type="radio" name="insurance_coverage" value ="Plan E"></td></tr>

      <tr><td rowspan=2>Salary</td><td>$90,000</td><td>$88,000</td><td>$86,000</td><td>$84,000</td><td>$82,000</td></tr>
      <tr><td><input type="radio" name="salary" value=90000></td>
      <td><input type="radio" name="salary" value=88000></td>
      <td><input type="radio" name="salary" value=86000></td>
      <td><input type="radio" name="salary" value=84000></td>
      <td><input type="radio" name="salary" value =82000></td></tr>


      <tr><td rowspan=2>Location</td><td>San Francisco</td><td>Atlanta</td><td>Chicago</td><td>Boston</td><td>New York</td></tr>
      <tr>
      <td><input type="radio" name="location" value="San Francisco"></td>
      <td><input type="radio" name="location" value="Atlanta"></td>
      <td><input type="radio" name="location" value="Chicago"></td>
      <td><input type="radio" name="location" value="Boston"></td>
      <td><input type="radio" name="location" value ="New York"></td></table>
      <br><br>

</div>
<br><br>

<br>
<div id="clocked" style="margin-left:90%">
    {% next_button %}
</div>

{% endblock %}
