{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Negotiation Experience
{% endblock %}


{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
{% endblock %}

{% block content %}

Now that the negotiation has ended, please reflect on your experience of it. For example, you could consider how you and others did in building coalitions and balancing individual interest against group interests.<br><br>
There is no word-count requirement. <br>
<br>
<div style="width:100%"> <textarea name="journaling_text" cols=200 rows=20 required="" style="max-width:100%">
</textarea></div>

<br><br>
<div style="margin-left:90%">
    {% next_button %}
</div>

{% endblock %}
