{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Negotiation Experience
{% endblock %}


{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
{% endblock %}

{% block content %}

Now you should reflect on your experience of the negotiation. Focus on whatever elements or interactions you found most interesting. There is no word count requirement. Again, you may compose your reflection anywhere you'd like, but submit it at <a target="_blank" rel="noopener noreferrer" href="https://canvas.stanford.edu/courses\{{ assignment_url }}">this Canvas assignment page</a>. <br>

<br><br>
<div style="margin-left:90%">
    {% next_button %}
</div>

{% endblock %}
