{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Negotiation Experience
{% endblock %}


{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
{% endblock %}

{% block content %}

<div style="text-align:left">
{% if player.feedback %}
{{ feedback_names }} willing to received feedback. Before 11:59pm tonight, you need to describe for them your impressions of the negotiation as it unfolded. Think about instances that framed your understanding and emotions about the situation and share them in a constructive way. Professor Atwell will personally review what you submit to make sure it is suitable for sharing.
<br><br>
<p>To compose and submit your impressions, follow <a target="_blank" rel="noopener noreferrer" href="https://canvas.stanford.edu/courses\{{ feedback_url }}">this link to Canvas</a> (new tab)</p>

{% else %}
<p>Before 11:59pm tonight, you need to reflect on your experience of the negotiation. Focus on whatever elements or interactions you found most interesting. There is no word count requirement.</p>
<p>To compose and submit your reflection, follow <a target="_blank" rel="noopener noreferrer" href="https://canvas.stanford.edu/courses\{{ reflection_url }}">this link to Canvas</a> (new tab)</p>
</div>
{% endif %}

<br><br>
Otherwise you're done with the exercise and may close this tab.
<br>
<br>

{% endblock %}
