{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Negotiation Experience
{% endblock %}


{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
{% endblock %}

{% block content %}

You have successfully submitted the outcome or 3DTV is submitting it. On the next page, you should reflect on your experience of the negotiation and finish it before the end of the day.<br>

<br><br>
<div style="margin-left:90%">
    {% next_button %}
</div>

{% endblock %}
