{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Notes on planning

{% endblock %}


{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">

{% endblock %}

{% block content %}
<p>You are going to negotiate this case as a member of a team. You'll have an opportunity to coordinate with the team shortly, before meeting with the OmniChannel team.</p>

<p>As you plan for the negotiation, make sure to think through how you will organize and operate as a team. In doing that planning, be mindful of your CEO's message about approaching the negotiation. It is reproduced below:</p>
<br>
<div style="background-color:whitesmoke;padding:3%;border:1px;">
<p>This is going to be a cross-cultural, Chinese-American negotiation. Communication and information exchange may be challenging. We should act in accordance with our principles and values. I fully expect you to:
</p>
<ol><li>Maintain the formality and hierarchy that we pride ourselves on. Only the leader of the negotiation team should speak; everyone else should demonstrate utmost respect and deference, and maintain the unity and harmony of the team.</li>
<li>Be as minimal as possible in your communications. Always prefer silence over chatter. Remember, the empty vessel makes the most noise.</li>
<li> Be true to our principle of <em>Guanxi</em> - we only do business with others with whom we have close ties. Thus, it is important that you establish relationships with the Americans. You should spend the first 10 minutes of the negotiation on social introductions, and asking the Americans about their families, hobbies, and entertainment preferences (this information will be useful when we shall host them in Shanghai).</li></ol></ul></div>
<br>
Go to the next page to compose and submit your planning document.
<br><br><br>
<div id="clocked" style="margin-left:90%">
    {% next_button %}
</div>

{% endblock %}
