{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Notes on planning

{% endblock %}


{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">

{% endblock %}

{% block content %}
<p>You are going to negotiate this case as a member of a team. You'll have an opportunity to coordinate with the team in class, before meeting with the 3DTV team.</p>

<p>As you plan for the negotiation, make sure to think through how you will organize and operate as a team. In doing that planning, be mindful of your CEO's message about approaching the negotiation. It is reproduced below:</p>
<br>
<div style="background-color:whitesmoke;padding:3%;border:1px;">
  <p>This is going to be a cross-cultural, American-Chinese negotiation. Communication and information exchange may be challenging. We should act in accordance with our principles and values. I fully expect you to:
  <ol><li>Assert our interests directly.</li>
  <li>Push hard to get answers to your questions
  from the start.</li>
  <li>Try to put the pressure on by targeting
  individual members of the other negotiating team and by having multiple members of our team ask challenging questions.</li></ol></li></ul>
  <p>As members of the Business Development Team for OmniChannel, you will have to reach agreement on 9 issues with 3DTV’s representatives to finalize the deal. The Payoff Schedule on the next page provides information about the relative importance of different issues to your team. Make sure not to show your payoff schedule to the other party. If you fail to reach agreement with 3DTV today your outcome will be 0 points.</p>
  <br></p></div>
<br>
Go to the next page to submit your planning document.
<br>
<div id="clocked" style="margin-left:90%">
    {% next_button %}
</div>

{% endblock %}
