{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
OmniChannel

{% endblock %}


{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
<style>

#points {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  border: 2px solid
}

#points td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
  width: 50%;
  padding-bottom: 4px;
}

#points th {
  border: 1px solid #ddd;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #8c1515;
  border: 1px solid #000;
  color: white;
}

#points tr:nth-child(even){background-color: #f2f2f2;}

</style>
{% endblock %}

{% block content %}
A DRRC case by Nir Halevy and Amir Kaspi
<br><br>
<p>You'll be able to see these materials again once the live negotiation has started but you can also <a href="{% static pdf_file %}" download>download a pdf version here.</a></p>
<br>
<br>
<h1>Role: <em>OmniChannel</em> negotiation team member</h1>
<br>
<p>You are a member of the Business Development Team for OmniChannel, a major player in the U.S. TV content market. Established in 1970, OmniChannel (OC) is a publicly traded company that provides users with a one-stop-shop for over 100 channels. OC clients can also access 20 premium channels from PreimumTV that owns the exclusive distribution rights to premium contents (e.g., HBO). OC users are paying a monthly subscription fee to access the platform. OC has a 35% U.S. market share, 4000 employees, and a total revenue of $25M.</p>
<p>OC is currently developing a 4D TV platform, a strategic initiative that faces intense competition in a very crowded space. OC estimates that the time-to-market of its next generation TV platform, which would allow clients to view content in a 4-dimensional format, is around 4 years. OC’s other strategic initiative, and the one in which you and your team play a critical role, involves entering a licensing agreement to provide OC’s content to consumers via a third party. OC is currently licensing and has the right to sub-license 100 channels globally, in additional to the premium content. This is the first time that the company is considering such an agreement.</p>
<p>Your task is to negotiate with 3DTV, a start-up in the TV space that was founded three years ago with a main office in Shanghai, China, and a smaller office in Palo Alto, California. 3DTV develops the next generation of 3D video that will allow users to see any content in 3D without wearing an external device (e.g., 3D glasses). 3DTV’s most recent valuation was $100M. 3DTV has recently made headlines for building their advance data center technology but their core mission is to develop their own unique TV experience. Similar to you, 3DTV has been working hard on a technology that provides their users a one-stop-shop for all their digital and traditional TV needs. However, their platform is unique because it will allow users to watch the content either on typical 2D screen (similar to your product as well as other competitors in the marketplace, e.g., AppleTV) or in 3D without the need to use any external device.</p>
<p>Your team recently received the following email from OC’s CEO:</p>

<div style="background-color:whitesmoke;padding:3%;border:1px;">
  <strong>From:</strong> Office of the CEO, OmniChannel<br>
  <strong>To: </strong>Business Development Team, OmniChannel <br><br>
  <p>Dear Business Development team,</p>
  <p>As you know, having access to so many channels with underlying long term agreements positions us as a premium TV player in the TV space. Our own TV solution, while outdated, is generating all of our existing revenue. Until today, we have never allowed any other 3rd party access to this proprietary asset. However, given that we have decided not to invest additional resources in improving our outdated platform but instead develop a new one from scratch (an initiative which will take us around 4 years), we have decided to consider the option to sub-license our channels (which we have the right to do). We need to be cautious about the partner we choose to license the assets to since it might cannibalize our existing revenue ($25M).</p>
  <p>As you well know, to maintain our competitive advantage in the time until our new TV platform is ready, we signed an agreement with PremiumTV which adds to our content offerings 20 premium channels (e.g., HBO), some of which offer unique content that almost no one else has access to. But PremiumTV is only one part of the strategy; we must think creatively about how we can generate additional revenue in the short run to support the investment needed in the new platform.</p>

<p>We have an opportunity to collaborate with 3DTV, who has a unique technology that caters to the growing demand for 3D. I recently received a request from a senior executive at 3DTV; they are interested in accessing our TV channels as they believe we have the highest number of channels, especially in light of the recent enrichment of our panel with PremiumTV content.</p>
<p>I trust you to negotiate the best sustainable deal for Omnichannel. I have outlined in the attachment to this email the parameters for this negotiation. Please read the attachment carefully.</p>
<p>Riley Davis<br>
<strong>CEO</strong></p>
</div>

<br><br>
<p>The attachment to the email from your CEO included the following important points:
<ul><li>You do NOT have permission to negotiate a deal
that involves reselling or redistribution rights to 3DTV. Your contracts with broadcasters forbid you from allowing third party companies to redistribute any content or data. Breaching these contracts will result in a penalty of $1B, which you obviously cannot afford.</li>
<li>In any deal with 3DTV, OC seeks to retain full ownership of data including any derivative work and future intellectual property from it.</li>
<li>Although you are motivated to negotiate a deal with 3DTV, there might be a better offering coming from 4DTV in a few years (3DTV’s direct competitor). OC is thinking about creating a Joint Venture between 4DTV and their TV business. This is another reason why you value the option to terminate the deal with 3DTV in a short notice - you definitely don’t want the deal with 3DTV to ruin this lucrative future opportunity with 4DTV. This is also why you want are interested in a deal that spans 4 years (although the ability to terminate the partnership at a short notice makes the initial term you agree upon less critical). <u>Importantly – the information about the potential joint venture with 4DTV is highly confidential info. You cannot share this information under any circumstances.</u></li>
<li><strong>IMPORTANT INFORMATION FROM YOUR CEO ABOUT THE PROCESS:</strong>
This is going to be a cross-cultural, American-Chinese negotiation. Communication and information exchange may be challenging. We should act in accordance with our principles and values. I fully expect you to:
<ol><li>Assert our interests directly.</li>
<li>Push hard to get answers to your questions
from the start.</li>
<li>Try to put the pressure on by targeting
individual members of the other negotiating team and by having multiple members of our team ask challenging questions.</li></ol></li></ul>
<p>As members of the Business Development Team for OmniChannel, you will have to reach agreement on 9 issues with 3DTV’s representatives to finalize the deal. The Payoff Schedule on the next page provides information about the relative importance of different issues to your team. Make sure not to show your payoff schedule to the other party. You have a total of 75 minutes to complete this negotiation. I If you fail to reach agreement with 3DTV today your outcome will be 0 points.</p>
<br>


<center>
<h4>Payoff Schedule</h4>
<table id="points">
<tr><th>Issues</th><th>Options</th><th>Points</th></tr>
<tr><td rowspan=3 style="background-color:white"><strong>Use of manipulated data</strong><p>Manipulated and merged data can be used to learn how to augment the realism of content. 3DTV will likely want this for their research and development. This is unlikely to threaten your development of the 4D platform.</p></td><td>3DTV has a perpetual license to use the data for internal research</td><td>0</td></tr>
<tr><td>3DTV has a license to use the data for internal research during the agreement term</td><td>1700</td></tr>
<tr style="border-bottom: 3px solid #000;"><td>3DTV cannot use manipulated data for internal research</td><td>3200</td></tr>
<tr><td rowspan=2 style="background-color:#f2f2f2"><strong>Data License Restrictions</strong>
<p>Allowing 3DTV to compete with you in the 2D space will cannibalize your revenue. To avoid the competition, they should be allowed to offer it in a 3D format only.</p></td><td>3DTV can offer the content to their subscribers in 2D or 3D format</td><td>0</td></tr>
<tr style="border-bottom: 3px solid #000;"><td>3DTV can offer the content to their subscribers in 3D format only</td><td>3800</td></tr>
<tr><td rowspan=5><strong># of PremiumTV channels licensed</strong>
<br>(Raw Channel Data & Meta Data)
<p>You are interested in maximizing the number of channels you license to maximize revenue.</p></td><td>0</td><td>0</td></tr>
<tr><td>5</td><td>600</td></tr>
<tr><td>15</td><td>1200</td></tr>
<tr><td>20</td><td>1800</td></tr>
<tr style="border-bottom: 3px solid #000;"><td>25</td><td>2400</td></tr>

<tr><td rowspan=5><strong>Fees for PremiumTV channels</strong><br>
You currently pay PremiumTV 10k per month per sub-licensed channel. There is an additional data-center operation cost of 2K per channel. Your CEO expects you to keep profit margin at a 40% minimum. The following fees are per channel/month.</td><td>11,000</td><td>0</td></tr>
<tr><td>12,000</td><td>1650</td></tr>
<tr><td>13,000</td><td>3300</td></tr>
<tr><td>14,000</td><td>4950</td></tr>
<tr style="border-bottom: 3px solid #000;"><td>15,000</td><td>6600</td></tr>
<tr><td rowspan=5><strong># of OC channels licensed</strong><br>(Raw Channel Data & Meta Data)<br>
You are interested in maximizing the number of channels you license to maximize revenue.</td><td>60</td><td>-2000</td></tr>
<tr><td>70</td><td>-1500</td></tr>
<tr><td>80</td><td>-1000</td></tr>
<tr><td>90</td><td>-500</td></tr>
<tr style="border-bottom: 3px solid #000;"><td>100</td><td>0</td></tr>

<tr><td rowspan=5><strong>Fees for OC channels</strong><br>You are interested in maximizing the licensing fees to maximize revenue. The following fees are per channel/month.</td><td>600</td><td>-4800</td></tr>
<tr><td>700</td><td>-3600</td></tr>
<tr><td>800</td><td>-2400</td></tr>
<tr><td>900</td><td>-1200</td></tr>
<tr style="border-bottom: 3px solid #000;"><td>1000</td><td>0</td></tr>

<tr><td rowspan=5><strong>Fees for using 3DTV’s Data Centers</strong><br>Your data centers are outdated and inefficient. You could cut operation costs substantially if given access to 3DTV’s state-of the art data centers. Obviously, you prefer to pay less rather than more for such access.</td><td>$30,000 per month</td><td>0</td></tr>
<tr><td>$25,000 per month</td><td>1500</td></tr>
<tr><td>$20,000 per month</td><td>3000</td></tr>
<tr><td>$15,000 per month</td><td>4500</td></tr>
<tr style="border-bottom: 3px solid #000;"><td>$10,000 per month</td><td>6000</td></tr>

<tr><td rowspan=5><strong>Length of Agreement</strong><br>Your estimated-time-to-market for your in-house 4D technology is four years. Therefore, a 4-year deal benefits you more than longer deals.</td><td>8 years</td><td>0</td></tr>
<tr><td>7 years</td><td>1100</td></tr>
<tr><td>6 years</td><td>2200</td></tr>
<tr><td>5 years</td><td>3300</td></tr>
<tr style="border-bottom: 3px solid #000;"><td>4 years</td><td>4400</td></tr>

<tr><td rowspan=5><strong>Termination Option</strong><br>Although you have the legal right to sublicense content, it is unclear how broadcasters will react. You want to maintain flexibility to terminate this agreement quickly in case broadcasting networks threaten to sever their relationships with you.</td><td>12 months</td><td>0</td></tr>
<tr><td>9 months</td><td>1300</td></tr>
<tr><td>6 months</td><td>2600</td></tr>
<tr><td>3 months</td><td>3900</td></tr>
<tr><td>1 month</td><td>5200</td></tr>
</table>


<br><br><br>
<div style="background-color:lightgray; font-size:.75em;padding:2%">
  <strong>©2018 Dispute Resolution Research Center (DRRC), Kellogg School of Management, Northwestern University. All rights reserved.</strong><br>
  DRRC teaching materials are protected by copyright law. DRRC requires a per person royalty for use of its exercises. Each purchase of an exercise authorizes copying or electronic distribution of that exercise equal to the quantity purchased.
</div>
<br><br>
<div style="margin-left:90%">
    {% next_button %}
</div>

{% endblock %}
