{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Planning Document
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
{% endblock %}

{% block content %}
<script>


function textCounter(field, maxLength)
{
var countfield = document.getElementById('counter')
var words = field.value.split(" ");
 if (words.length> maxLength ) {
  countfield.innerHTML = "Words Left: 0";
  document.getElementById("clocked").style.display="block";
  return false;
 } else {
  countfield.innerHTML = "Words Left: " + (maxLength - words.length).toString();
 }
}

</script>

<div style="text-align:left">
Write about how you will approach this negotiation. In particular you should think about how you will approach organizing your team. <br><br>The next button will appear once {{ Constants.planning_doc_length }} words have been entered.</div><br>

<div style="width:100%"> <textarea name="planning_text" cols=200 rows=20 required="" id="id_planning_text" class="form-control" onkeyup="textCounter(this, {{ Constants.planning_doc_length }});" id="message" style="max-width:100%">
</textarea></div>
    <div id="counter" style="margin-left:80%">Words Left: {{ Constants.planning_doc_length }}</div>

<br>
    View the case materials <a href="{% static pdf_file %}" download>here.
<br>
  <div id="clocked" style="display:none;margin-left:90%">
        {% next_button %}
  </div>

{% endblock %}
