{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Planning Document
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
{% endblock %}

{% block content %}
<script>


function textCounter(field, maxLength)
{
var countfield = document.getElementById('counter')
var words = field.value.split(" ");
 if (words.length> maxLength ) {
  countfield.innerHTML = "Words Left: 0";
  document.getElementById("clocked").style.display="block";
  return false;
 } else {
  countfield.innerHTML = "Words Left: " + (maxLength - words.length).toString();
 }
}

</script>

<div style="text-align:left">
Write about how you will approach this negotiation. You should think about how you will approach organizing your team.

Submit your plan on the <a target="_blank" rel="noopener noreferrer" href={{ assignment_url }}>Canvas assignment page before continuing.</a>
<br><br>
<br>
    View the case materials <a target="_blank" rel="noopener noreferrer" href="{% static pdf_file %}">here.
<br><br>
  <div style="margin-left:90%">
        {% next_button %}
  </div>

{% endblock %}
