{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
You're ready to meet your team...

{% endblock %}


{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
<style>

#points {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;
  border: 2px solid
}

#points td {
  border: 1px solid #ddd;
  padding: 2px;
  text-align: center;
  width: 50%;
  padding-bottom: 4px;
}

#points th {
  border: 1px solid #ddd;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #8c1515;
  border: 1px solid #000;
  color: white;
}

#points tr:nth-child(even){background-color: #f2f2f2;}

</style>
{% endblock %}

{% block content %}

<p>You are now prepared to start working with your team, but it looks like you're ahead of some people so you'll have to wait just a bit. <br><br>Your team assignment will be shared by Dr. Atwell shortly as well.</p>




<br><br>

{% endblock %}
