{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Negotiating
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
<style>
.otree-timer {
    display: none;
}
</style>
{% endblock %}

{% block content %}

<br><br>
  You are almost ready to start negotiations. You will vote on a proposal either at an appointed time (15, 40 and 90 minutes) or when HarborCo puts a proposal up for a vote. You'll be advanced to the next page once the exercise begins.
<br><br><br>

<br>

{% endblock %}
