{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    New Recruit
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
{% endblock %}

{% block content %}
<br><br>
<h4>You are now ready to negotiate!</h4>
You have been, or will shortly be, assigned to a break out room with your partner. Once you have successfully joined,
you can get back to case materials by advancing to the next page.<br><br><br><br>
<div style="margin-left:90%">
    {% next_button %}
</div>
<br>

{% endblock %}
