{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Proposal Calculator: {<span style="color:red;">Mayor Angula</span>}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
<style>
.points {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 2px solid
}

.points td {
  border: 1px solid #ddd;
  padding: 1px;
  width: 14.5%;
  text-align: center;
  padding-bottom: 4px;
}

.points th {
  border: 1px solid #ddd;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #8c1515;
  border-bottom: 2px solid #8c1515;
  color: white;
}

.tr_bottom {
  border-bottom: 3px solid;
}

.points tr:nth-child(even){background-color: #f2f2f2;}

</style>
{% endblock %}

{% block content %}
  <br>
    <h5>Use this calculator to understand the value of different proposal for you.</h5><br><br>


<div id="calculator">
    <table class="points">
    <tr><th rowspan=2>Issues</th><th rowspan=2 colspan=5>Options</th><th>Issue</th</tr>
    <tr><th>Points</th></tr>

    <tr><td rowspan=2>Maximum building height</td><td>400ft</td><td>500ft</td><td>600ft</td><td>700ft</td><td>800ft</td><td></td></tr>
    <tr><td ><input type="radio" name="bonus" value="4000" oninput="bonus_output.value = 4000"></td>
          <td ><input type="radio" name="bonus" value="3000" oninput="bonus_output.value = 3000" ></td>
          <td><input type="radio" name="bonus" value="2000" oninput="bonus_output.value = 10"></td>
          <td><input type="radio" name="bonus" value="1000" oninput="bonus_output.value = 1000"></td>
          <td><input type="radio" name="bonus" value="0"oninput="bonus_output.value = 0"></td>
          <td><output id="bonus_output"></output></td></tr>

      <tr><td rowspan=2>Entertainment complex</td><td>O venues</td><td>1 venue</td><td>2 venues</td><td>3 venues</td><td>4 venues</td><td></td></tr>
      <tr><td><input type="radio" name="job_assignment" value="Division A" oninput="job_output.value = 0"></td>
            <td><input type="radio" name="job_assignment" value="Division B" oninput="job_output.value = -600"></td>
            <td><input type="radio" name="job_assignment" value="Division C" oninput="job_output.value = 5"></td>
            <td><input type="radio" name="job_assignment" value="Division D" oninput="job_output.value = -1800"></td>
            <td><input type="radio" name="job_assignment" value ="Division E" oninput="job_output.value = -2400"></td>
            <td><output id="job_output"></output></td></tr>

      <tr><td rowspan=2>Green Space</td><td>14 acres</td><td>16 acres</td><td>18 acres</td><td>20 acres</td><td> - </td><td></td></tr>
      <tr><td><input type="radio" name="vacation_time" value=25 oninput="vacation_output.value = 1600"></td>
            <td><input type="radio" name="vacation_time" value=20 oninput="vacation_output.value = 1200"></td>
            <td><input type="radio" name="vacation_time" value=15 oninput="vacation_output.value = 5"></td>
            <td><input type="radio" name="vacation_time" value=10 oninput="vacation_output.value = 400"></td>
            <td> - </td>
          <td><output id="vacation_output"></output></td></tr>

      <tr><td rowspan=2>IIF Funding</td><td>$250 million</td><td>$500 million</td><td>$750 million</td><td>$1 billion</td><td> - </td><td></td></tr>
      <tr><td><input type="radio" name="starting_date" value="June 1" oninput="start_output.value = 2400"></td>
            <td><input type="radio" name="starting_date" value="June 15" oninput="start_output.value = 4"></td>
            <td><input type="radio" name="starting_date" value="July 1" oninput="start_output.value = 1200"></td>
            <td><input type="radio" name="starting_date" value="July 15" oninput="start_output.value = 600"></td>
            <td> - </td>
          <td><output id="start_output"></output></td></tr>

    <tr><td rowspan=2>Low-income residential</td><td>6%</td><td>9%</td><td>12%</td><td>15%</td><td> - </td><td></td></tr>
        <tr><td><input type="radio" name="moving_expenses" value=100 oninput="moving_output.value = 3200"></td>
              <td><input type="radio" name="moving_expenses" value=90 oninput="moving_output.value = 2400"></td>
              <td><input type="radio" name="moving_expenses" value=80 oninput="moving_output.value = 20"></td>
              <td><input type="radio" name="moving_expenses" value=70 oninput="moving_output.value = 800"></td>
              <td> - </td>
            <td><output id="moving_output"></output></td></tr>

        <tr><td rowspan=2>Property mix</td><td>30::70</td><td>50::50</td><td>70::30</td><td> - </td><td> - </td><td></td></tr>
        <tr>
        <td><input type="radio" name="insurance_coverage" value="Plan A" oninput="insurance_output.value = 800"></td>
        <td><input type="radio" name="insurance_coverage" value="Plan B" oninput="insurance_output.value = 5"></td>
        <td><input type="radio" name="insurance_coverage" value="Plan C" oninput="insurance_output.value = 400"></td>
        <td> - </td>
        <td> - </td>
        <td><output id="insurance_output"></output></td></tr>
        </table>
        <span style="margin-left:70%;font-size:1.3em">Total Points:&emsp;<span id="total">0</span></span>

</div>
<br><br>
<div style="margin-left:90%">
    {% next_button %}
</div>


    <script>
      document.querySelector("#calculator").addEventListener("change", function(e){
        var subtotal=Number(document.querySelector("#bonus_output").value)+Number(document.querySelector("#job_output").value)+Number(document.querySelector("#vacation_output").value)+Number(document.querySelector("#start_output").value)+Number(document.querySelector("#moving_output").value)+Number(document.querySelector("#insurance_output").value);
        document.querySelector("#total").innerHTML= subtotal.toString();
        })
    </script>
{% endblock %}
