{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    New Recruit
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
{% endblock %}

{% block content %}

You are about to start the Fillmore Lawns case, negotiating as {<span style="color:red;">Mayor Angula</span>}. To help you understand the point value of different proposals, the next page has a calculator that allows you to quick calculate the point values of different proposals. Simply select an outcome for each issue and the calculator will display the total point value of the proposal. Once your group has finished negotiation, you'll advance to the next page to input the final outcome. (If no deal is reached, you'll note that too.)
<br><br>
You'll have 100 minutes to negotiate. Good luck!
<br>
<br>
<div style="margin-left:90%">
    {% next_button %}
</div>
<br>

{% endblock %}
