{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Time spent on issues
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
<style>
.points {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 2px solid
}

.points td {
  border: 1px solid #ddd;
  padding: 1px;
  width: 14.5%;
  text-align: center;
  padding-bottom: 4px;
}

.points th {
  border: 1px solid #ddd;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #8c1515;
  border-bottom: 2px solid #8c1515;
  color: white;
}

.tr_bottom {
  border-bottom: 3px solid;
}

.points tr:nth-child(even){background-color: #f2f2f2;}

</style>
{% endblock %}

{% block content %}
<div id="sliders">
Please estimate the percentage of the total time you spent on each issue<br><br>
<span style="font-size:.8em">You can click a slider and then use arrow keys for small adjustments</span><br><br>
<table class="points">
<tr><th>Issue</th><th colspan=2>Fraction of Time Spent On Issue</th></tr>
<tr>
<td>Salary</td><td><input name="salary_fract" id="salary_fract" type="range" min="1" max="99" step="1" value="16" oninput="salary_fract_output.value = this.value" style="vertical-align:middle"/></td><td><output id="salary_fract_output">16</output>%</td></tr>

<tr><td>Bonus</td><td><input name="bonus_fract" id="bonus_fract" type="range" style="vertical-align:middle" min="1" max="100" step="1" value="12" oninput="bonus_fract_output.value = this.value"/></td><td><output id="bonus_fract_output">12</output>%</td></tr>
<tr><td>Job Assignment</td><td><input name="job_assignment_fract"  id= "job_assignment_fract" style="vertical-align:middle" type="range" min="1" max="100" step="1" value="12" oninput="job_assignment_fract_output.value = this.value"/></td><td><output id="job_assignment_fract_output">12</output>%</td></tr>
<tr><td>Location</td><td><input name="location_fract" id="location_fract" style="vertical-align:middle" type="range" min="1" max="100" step="1" value="12" oninput="location_fract_output.value = this.value"/></td><td><output id="location_fract_output">12</output>%</td></tr>
<tr><td>Vacation Time</td><td><input name="vacation_time_fract" id="vacation_time_fract" type="range" style="vertical-align:middle" min="1" max="100" step="1" value="12" oninput="vacation_time_fract_output.value = this.value"/></td><td><output id="vacation_time_fract_output">12</output>%</td></tr>
<tr><td>Insurance Coverage</td><td><input name="insurance_coverage_fract" id="insurance_coverage_fract" style="vertical-align:middle" type="range" min="1" max="100" step="1" value="12" oninput="insurance_coverage_fract_output.value = this.value"/></td><td><output id="insurance_coverage_fract_output">12</output>%</td></tr>
<tr><td>Starting Date</td><td><input name="starting_date_fract" id="starting_date_fract" style="vertical-align:middle" type="range" min="1" max="100" step="1" value="12" oninput="starting_date_fract_output.value = this.value"/></td><td><output id="starting_date_fract_output">12</output>%</td></tr>
<tr><td>Moving Expenses</td><td><input name="moving_expenses_fract" id="moving_expenses_fract" style="vertical-align:middle" type="range" min="1" max="100" step="1" value="12" oninput="moving_expenses_fract_output.value = this.value"/></td><td><output id="moving_expenses_fract_output">12</output>%</td></tr>

<tr><td></td><td style="text-align:right">Total:&ensp;</td><td><div id="total">100%</div></td></tr>
</table>
</div>
</div><br><br>

<div id="clocked" style="margin-left:90%">
    {% next_button %}
</div>
<div id="blocked" style="display:none;margin-left:80%">
NEXT button will return when Total = 100%
</div>
<br><br><br>
<script>
  document.querySelector("#sliders").addEventListener("change", function(e){
    var subtotal=Number(document.querySelector("#salary_fract").value)+Number(document.querySelector("#bonus_fract").value)+Number(document.querySelector("#job_assignment_fract").value)+Number(document.querySelector("#location_fract").value)+Number(document.querySelector("#insurance_coverage_fract").value)+Number(document.querySelector("#vacation_time_fract").value)+Number(document.querySelector("#starting_date_fract").value)+Number(document.querySelector("#moving_expenses_fract").value);
    document.querySelector("#total").innerHTML= subtotal.toString()+"%";
   if (subtotal != 100){
  document.getElementById("clocked").style.display="none";
  document.getElementById("blocked").style.display="block"
} else { document.getElementById("clocked").style.display="block";
  document.getElementById("blocked").style.display="none"}
})
</script>

{% endblock %}
