{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    New Recruit - DRRC<span style="font-size:.4em">©</span>
{% endblock %}

{% block content %}
<div style="width:65%;margin-top:10%">
You are all done negotiating the New Recruit case. <br><br>

Join us back in the Zoom classroom at this link: <br>
<a href="https://stanford.zoom.us/j/4340648848">https://stanford.zoom.us/j/4340648848</a><br><br>

You'll get a short break before we begin again.


</div>
<br><br>


{% endblock %}
