{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<center>
    Planning Document</center>
{% endblock %}

{% block content %}
<script>


function textCounter(field, maxLength)
{
var countfield = document.getElementById('counter')
var words = field.value.split(" ");
 if (words.length> maxLength ) {
  countfield.innerHTML = "Words Left: 0";
  document.getElementById("clocked").style.display="block";
  return false;
 } else {
  countfield.innerHTML = "Words Left: " + (maxLength - words.length).toString();
 }
}

</script>
<center>
<div style="width:50%;text-align:left">
Write about how you will approach this negotiation. You might consider things like the relative importance of issues, your emotions. and strategies for getting to your desired outcome. You have 5 minutes to complete it.</div></center><br>

<center><div style="width:50vw"> <textarea name="planning_text" columns=10 rows=20 required="" id="id_planning_text" class="form-control" onkeyup="textCounter(this, {{ max_word_limit }});" id="message">
</textarea></div>
    <div id="counter" style="margin-left:30%">Words Left: {{ max_word_limit }}</div></center>
  <div id="clocked" style="display:none;margin-left:90%">
        {% next_button %}
  </div>

{% endblock %}
