{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
HarborCo

{% endblock %}


{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
<style>

#points {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;
  border: 2px solid
}

#points td {
  border: 1px solid #ddd;
  padding: 2px;
  text-align: center;
  width: 50%;
  padding-bottom: 4px;
}

#points th {
  border: 1px solid #ddd;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #8c1515;
  border: 1px solid #000;
  color: white;
}

#points tr:nth-child(even){background-color: #f2f2f2;}

</style>
{% endblock %}

{% block content %}
<br>
A Harvard <em>Program on Negotiations</em> case written by Denise Madigan and Thomas Weeks under the supervision of Professor Lawrence Susskind (M.I.T.), Assistant Professor David Lax and the Negotiation Roundtable.
<br><br>
<p>You'll be able to see these materials again once the live negotiation has started but you can also <a href="{% static pdf_file %}" download>download a pdf version here.</a></p>
<br>
<br><br><br>
<h1>Role of <em>HarborCo</em> representative</h1>
<br>
<h3 id="general">General Instructions</h3>
<p>Harborco, a newly formed national consortium, is interested in building and operating a deep-water port off the coast of Seaborne. The consortium's members are drawn from a variety of enterprises, most of which are diversified among a number of commercial activities. Harborco is prepared to participate in the financing, construction, and operation of the port. It has already engaged in some preliminary planning and design work, but it cannot proceed without a license issued by the Federal Licensing Agency (FLA).</p>
<h5>The Project</h5>
<p>The deep-water port proposed by Harborco would be the first of its kind on the East Coast. It would be located in Seaborne at the estuary of the Banksedge River. Like the European seaport Rotterdam, it would accommodate a new generation of large cargo ships and supertankers – ships believed to be especially cost-effective in transporting raw materials and goods.</p>
<p>The deep-water port would be based on an artificial island of roughly nine square miles, created with fill from the dredging of the access channel. The island would be connected to the shore by a network of highways, railroads, and pipelines. Onshore, an Air-Sea-Cargo Center (ASCC) would be developed, along with major connections to existing highways, railroads, and pipeline networks. Substantial infrastructure would be needed to accommodate an intermodal freight terminal of this sort. Most of the industrial plant and ancillary facilities would be located on the island. While components of the port could be operational as early as five years after construction begins, the port's full development might not be completed until 20 years later. The projected cost of the port is roughly $4 billion (in current dollars).</p>
<br>
<h3 id="parties">The Parties</h3>
<h5>Harborco</h5>
<p>Harborco is excited about the prospect of a deep-water port on the East Coast. It believes such a port could generate substantial profits within ten years after operations begin. (Harborco bases its projections on an independent study by Transport Associates, Inc., which concluded that such a port could be economically viable under several possible scenarios.) In addition, Harborco believes the local, regional, and national economies could benefit from a port, which would dramatically reduce the transport costs of imports and exports. Several other parties, however, have an interest in the deep-water port and Harborco's application for a license.</p>
<h5 id="el">The Environmental League:</h5>
<p>This coalition of environmental interest groups is generally opposed to any development of coastal areas, especially development that threatens the fragile ecosystems, adds to air and water pollution, increases waste disposal problems, and increases health and safety risks. The League is worried that Harborco's proposed port would seriously damage the environment of Seaborne and destroy the basic Banksedge River ecology.</p>
<h5 id="unions">Local Federation of Labor Unions (The Unions):</h5>
<p>The Unions are generally pleased that new development is being considered for Seaborne. They anticipate hundreds of new jobs will be created in both the short and long run. They will argue strongly, however, that these jobs should be reserved for local union members. (This local federation is affiliated with the National Federation of Labor Unions.)</p>
<h5>Other Ports in the Region:</h5><p>The four other ports in the region are not pleased with Harborco's proposal. They expect to lose a substantial amount of business to the new port, if it is constructed. They are extremely skeptical of Harborco's claim that all regional ports will share in the economic benefits generated by the new port.</p>
<h5>Federal Department of Coastal Resources (DCR):</h5><p>This Cabinet-level agency created during the Reagan Administration has a dual mandate: (1) to help realize the economic potential of the nation's coastal resources, and (2) to preserve the environmental integrity of the nation's coastal areas. The DCR would like to see a deep-water port established somewhere on the East Coast, and has the resources and authority to subsidize such a port.</p>
<h5>Governor Sherwood (of Seaborne): </h5><p>Governor Sherwood is in her second gubernatorial term and is eager to promote development in her state. She is sensitive, however, to the needs of organized labor, a powerful political constituency, and is therefore eager to see that unions share in the benefits of the port.</p>
<br><br>
<h3>The Licensing Process</h3>
<p>Harborco submitted an application just one month ago for FLA review. While aware of other parties' interest in its proposal, Harborco expected little difficulty in the licensing phase of this project.</p>
<p>The FLA, however, has recently been criticized by several members of Congress for failing to consider the "broader public interest" in its previous licensing determinations. Consequently, the FLA is now very sensitive to the level of political support surrounding each application it reviews.</p>
<p>In this case, the FLA will not approve Harborco's application unless it is clear that there is substantial support for the project. Therefore, the FLA has decided that it will approve Harborco's proposal ONLY IF Harborco can muster the support of at least four other parties. (The FLA would prefer to see all five parties support a Harborco application, but it will grant a license even if only four lend their support.)</p>
<p>Two parties, however, can exercise some veto power. Harborco can veto any proposal in this negotiation (since no other party is capable of initiating the development). In addition, the Federal DCR can veto any project that requires a federal loan or loan guarantee.</p>
<br><br>
<h3>The Issues</h3>
<p>Preliminary discussions have taken place between Harborco and representatives of the five key parties. As a result of these conversations, Harborco has identified five issues that seem to be of concern to all or some of the parties. A general description of the issues is provided below; more detailed information is provided in each party's Confidential Instructions.</p><br>
<h5>Issue A: Industry Mix</h5>
<p>The deep-water port itself is only part of the development Harborco has planned. The construction will attract a variety of industries seeking access to the port. These industries will either lease or purchase land on the artificial island and onshore, and they will eventually generate the bulk of the revenues associated with the new port.</p>
<p>Harborco has initially requested the freedom to develop any industry mix it chooses. This means that it could choose to develop (or encourage) any type of industry or plant, including oil refineries, steel mills, or a resource recovery plant. The environmentalists, however, have argued that strict limits should be placed on the industry mix allowed in the area; they are asking that only relatively "clean" industries such as high-tech production plants be allowed.</p>
<p>As a result of this controversy, three options have surfaced in the discussions between Harborco and the environmentalists.</p>
<p><strong>Option A1: Primarily dirty</strong> — No industry would be excluded, but the mix would probably be dominated by oil refineries, petrochemical plants, steel productions plants, and a resource recovery plant.</p>
<p><strong>Option A2: Clean/Dirty</strong> — Would exclude the dirtiest industries, but would allow a limited number of moderately dirty plants (including food-processing plants).</p>
<p><strong>Option A3: All clean</strong> — Would be limited to only clean industries such as high-tech production industries; dirty plants would be excluded.</p>
<p>Air pollution, water pollution, and waste disposal would vary with the industry mix selected. Regardless of the industry mix, all industries would conform to existing federal and state pollution regulations.</p>
<br><br>
<h5>Issue B: Ecological Impact</h5>
<p>The dredging of the access channel, creation of the island, and general construction activity could seriously disrupt existing ecologically delicate areas both onshore and offshore. The damage would include the alteration of nesting habitats, a reduction in natural tidal flushing, the destruction of wetlands, serious land erosion, adverse impacts on existing fisheries, and substantial subsurface geologic impacts (caused by drilling and dredging).</p>
<p>Harborco admits that the new deep-water port would create some damage to the ecological setting, but it also claims that such damage would be within the limits defined by federal and state regulations. Environmentalists, however, counter that the damage would be excessive and that Harborco has no right to disrupt the area.</p>
<p>In light of these arguments, three outcomes are possible:</p>
<p><strong>Option B1: Some harm to ecology</strong> – This would involve unremedied disruption to the ecology. Fish and animal nesting habitats would be altered (or effectively destroyed), valuable wetlands would disappear, water temperatures and currents would change, and certain types of aquatic flora and fauna would be destroyed. All this would take place within federal and state impact mitigation guidelines.</p>
<p><strong>Option B2: Maintain or repair ecological balance</strong> – This would involve special precautions to divert construction and dredging activity (where possible) from the most ecologically delicate or important areas. But it would also include the relocation or recreation of habitats destroyed by unavoidable dredging and construction.</p>
<p><strong>Option B3: Improve the ecological setting</strong> – Like the previous option, this would include special efforts to bypass delicate areas during construction and dredging. But it would also include a variety of other efforts to improve the local environment. Environmentalists propose ongoing fishery management and wildlife protection, creating new and larger protected wetland areas, an active anti-erosion program, and constructing and operating a small waste-treatment facility to treat effluents flowing into the estuary from the Banksedge River.</p>
<br><br>
<h5>Issue C: Employment Rules</h5>
<p>Construction and operation of the deep-water port is expected to generate hundreds of new jobs in the community in both the short and long run. These jobs can be distributed among potential employees in one of three ways:</p>
<p><strong>Option C1: Unlimited union preference</strong>– Jobs would be reserved for local union workers, where appropriate. This would enable local union members to claim as large a share of the new jobs as possible.</p>
<p><strong>Option C2: Union quota of 2:1</strong> – Limited preference could be given to union members where the ratio of union to nonunion workers would not fall below 2 to 1.</p>
<p><strong>Option C3: Union quota of 1:1</strong> – The ratio of union to nonunion workers would not be less than 1 to 1.</p>
<p><strong>Option C4: No union preference (unrestricted hires).</strong> Harborco would be free to hire whomever it chooses. In this scenario, most workers would probably be nonunion, enabling Harborco to maintain its hiring flexibility and to reduce its expected wage costs. In addition, new workers might be drawn from outside Seaborne.</p>
<br><br>
<h5>Issue D: Federal Loan</h5>
<p>The newly created Federal Department of Coastal Resources (DCR) has a mandate to promote economic use of coastal areas, while preserving their environmental integrity. It can provide a substantial loan (or guarantee private borrowing) to help cover construction and operating costs of the port over the next 20 years.</p>
<p>Harborco estimates that the total cost of developing the port will be roughly $4 billion, and it has requested $3 billion in guaranteed loans. However, the DCR will insist on certain aspects of port design before it will contribute to the port. Four options appear possible:</p>
<p><strong>Option D1:</strong> A $3 billion loan (at 15% interest) over the next 20 years</p>
<p><strong>Option D2:</strong> A $2 billion loan (at 15% interest) over the next 20 years</p>
<p><strong>Option D3:</strong> A $1 billion loan (at 15% interest) over the 20-year period</p>
<p><strong>Option D4:</strong> No federal loan</p>
<br>
<br>
<h5>Issue E: Compensation to Other Ports in the Region</h5>
<p>Harborco believes the new port will generate significant economic growth both inside and outside the state. It contends that the entire regional economy will be improved by the port, and that the other four major ports on the Eastern Seaboard will benefit from this growth.</p>
<p>The other ports, however, expect to suffer a substantial loss of traffic once the new port begins operation. They have estimated the present discounted value of their losses to be roughly $600 million, representing losses for 10 years after the new port begins operation. They think Harborco should compensate them for these losses.</p>
<p>In light of this conflict, five possible options are up for consideration.</p>
<p><strong>Option E1:</strong> Harborco pays $600 million (or 100% compensation) in current dollars to the other ports.</p>
<p><strong>Option E2: </strong>Harborco pays $450 million (or 75% compensation). </p>
<p><strong>Option E3: </strong>Harborco pays $300 million (or 50% compensation). </p>
<p><strong>Option E4: </strong>Harborco pays $150 million (or 25% compensation). </p>
<p><strong>Option E5: </strong>Harborco makes no compensation to the other ports.</p>
<p>Though the ports would be free to spend this money as they wished, they could use these funds to make changes that would enable them to serve more effectively as feeder ports for the new deep-water port.</p><br>

<h3>The Negotiation</h3>
<p>Harborco has already submitted a license application to the FLA, which proposes the following
<ul>
<li>A primarily dirty industry mix (Option A1)</li>
<li> Some harm to the ecology (but within federally and state-prescribed limits)
(Option B1)</li>
<li>No special preference for union workers (Option C4)</li>
<li>A $3 billion loan from the DCR (Option D1)</li>
<li>No compensation payments to other ports (Option E5)</li></ul>
<p>Harborco is free to submit changes to its proposal at any time during the licensing review process, but it is anxious to have its application approved as is.</p>
<p>In an attempt to muster support for its current proposal, Harborco has invited all the key parties to a meeting at the Ritz-Carlton Hotel. Its stated objective for the meeting is to seek a negotiated agreement among all parties to ensure unanimous support for its proposal. (Of course, Harborco needs the support of only four other parties in order to secure a license.)</p>
<br>
<h3>Mechanics of the Negotiation</h3>
<p>All five parties have agreed to attend the meeting, and are seated at the negotiating table. The FLA representative opens the meeting and explains the procedures that the negotiating session will follow. Each party has seen a copy of Harborco's current FLA application.</p>
<p>The discussion may progress in any direction, but Harborco will be searching for a proposal that will win enough votes for FLA approval. Anyone can suggest alternative proposals, but Harborco's concurrence is needed for any proposal to be adopted.</p>
<p>Three formal voting rounds are scheduled for the meeting. The first will take place 15 minutes after the meeting begins, the second after 40 minutes of discussion, and the third after 85 minutes of discussion. Additional votes may be taken at any point during the meeting, but at least three voting rounds must take place. (There is of course one exception: if a project receives sufficient votes for FLA approval early in the meeting, the parties may choose to forgo subsequent voting rounds.)</p>
<p>The FLA representative will administer the three scheduled voting rounds. If Harborco cannot decide on a revised project to propose at the time of a formally scheduled vote, the participants must vote on the original Harborco proposal.</p>
<p>Voting is done by a show of hands. Once a proposal is passed (i.e., receives supporting votes from at least four of the five other parties), the votes are binding and parties cannot renege on their promise of support. The parties are free, however, to explore improvements in the agreement that either benefit the supporting parties or entice the non-supporting party to vote for the agreement. If the parties to the original agreement do not unanimously support proposed improvements, the original agreement stands.</p>
<p>Negotiations must stop at the end of the meeting. If no agreement is reached (i.e., if no proposal receives at least four votes in addition to Harborco's), the FLA will reject Harborco's application for a license.</p>
<br><br>

<h3>Confidential Instructions for the Harborco Negotiator (From the Harborco Board of Directors)</h3>
<p>This is obviously a very important project to us. It has tremendous profit potential, particularly if we can obtain approval on our current license application. Yet the project also has the potential to generate significant economic benefits for Seaborne, the region, and the entire nation.</p>
<p>In our minds, the public benefits of a deep-water port are so obvious that we are surprised the FLA is hedging on our application. Unfortunately, politics forces us to negotiate with parties who have no business interfering in our business. The application we have recently submitted to the FLA describes the most attractive project possible. We obviously want to protect it by keeping our costs low, and by securing substantial federal assistance.</p><br><br>
<h5>Scoring</h5>
<p>In order to help you plan your negotiating strategy, we have constructed a 110-point scoring scheme to illustrate which negotiable issues are of greatest and least importance to us. Under this scheme, you can score up to 110 points during the negotiation, depending upon how each of the five issues is resolved (plus a unanimity bonus). The most preferred set of outcomes is worth 110 points to us; the least preferred is worth zero points. Compromising on one or more issues will earn somewhere between zero and 110 points.</p>
<p>The use of points may seem artificial and abstract. For the purposes of this negotiation, it enables us to combine our several interests – low costs, freedom from unions, federal support, etc. – into a single "currency." This in turn allows us to compare the gains and losses associated with different issues.</p>
<p>In addition, the use of points to summarize our interests allows us to compare the value of negotiated agreements to our other alternatives. For example, we should pursue this particular project only if we can secure an agreement worth at least 55 points to us (excluding any bonus for a unanimous agreement). Any agreement worth fewer than 55 points would not be worth pursuing; we would be better off seeking alternative.investment opportunities (such as the new international airport being considered for the Pacific Northwest).</p>
<p>Your task is to try to earn as many points as possible in this negotiation. This is not being greedy – it simply means that we want to further our legitimate interests as far as possible. We will support any agreement that yields us at least 55 points of value, but that is the bare minimum we can accept. We certainly hope you will do much better.
If you have additional questions about the scoring scheme, please see the Appendix.</p><br><br>
<h5>Federal Loan</h5>
<p>This is by far the most important issue to us. Up until a few months ago, we thought the DCR would be more than happy to help finance a deep-water port on the East Coast. DCR officials had initially hinted that they would consider underwriting 75 percent of our costs (or $3 billion).</p>
<p>Since then, the DCR has downplayed its original enthusiasm and has hinted that it will not provide financial support unless certain conditions are met. Unfortunately, we do not yet know what these conditions are.</p>
<p>We have requested a $3 billion loan (at an interest rate of 15 percent) that will secure the investments of our consortium members, increase our ability to attract other investors, and ensure the long-term success of the project. (The federal government is unlikely to abandon a project in which it has invested billions of dollars.)</p>
<p>At present, we have firm commitments from private investors that should generate at least $1 billion for the project. If pressed, we could probably muster $2 billion should DCR offer us only $2 billion in loans.</p>
<p>But should DCR try to offer us less than $2 billion, we could be in serious trouble. There are not enough private investors currently interested in contributing to our project. If forced to raise $3 billion, we would be faced with the prospect of trying to borrow the money at exorbitant rates, probably equivalent to twice the market rate of interest. We might be able to continue with the project, but only by curtailing certain amenities.</p>
<p>If we received no federal financial assistance, the project would be in very serious jeopardy. In theory, we might still be able to muster the $4 billion to move ahead, but we could not afford to concede on any issues up for discussion today. Consequently, we would probably not have enough political support to win FLA approval.</p>
<p>We have assigned the following points to this issue:
<ul><li>$3 billion guaranteed loan = 35 points</li>
<li>$2 billion guaranteed loan = 29 points</li>
<li>$1 billion guaranteed loan = 20 points</li>
<li>No loan = 0 points</li></ul>
<p>The distribution of points reflects our belief that the first and second billion dollars are far more important than the third billion.</p><br><br>
<h5>Compensation to Other Ports</h5>
<p>We are obviously opposed to paying compensation to other ports. These four other ports have submitted wildly unreasonable estimates of their anticipated losses. They claim they will lose roughly $600 million after our port begins operating, but it is not at all clear to us that they will be hurt by our project. Although some of their traffic may be diverted to our new port, they will attract new traffic as feeder ports. We are also afraid that a dangerous precedent could be set if we agree to compensate our competitors. Will we eventually have to compensate every party who loses some business to us?</p>
<p>Given the cost of actual compensation payments and the dangerous precedent potential surrounding such an arrangement, we have assigned points as follows:
<ul><li>No compensation = 23 points</li>
<li> $150 million compensation = 15 points</li>
<li>$300 million compensation = 10 points</li>
<li> $450 million compensation = 5 points</li>
<li>$600 million compensation = 0 points</li></ul></p><br><br>

<h5>Employment Rules (Distribution of Jobs)</h5>
<p>We had hoped to be free to hire the best people to construct and operate the port. We had also hoped to keep the unions out of the port for at least a few years so that we could install labor-saving technology into the port (technology that the unions are sure to oppose). Apparently the unions want us to guarantee all new jobs to union workers.</p>
<p>We have assigned the following points to this issue:
<ul><li>No union preference = 17 points </li>
<li>Union quota of 1:1 = 10 points </li>
<li>Union quota of 2:1 = 5 points</li>
<li>Unlimited union preference = 0 points</li></ul>
The point schedule reflects, in part, anticipated increases in wage costs associated with different levels of union preference. In addition, it reflects our fear that any union preference is dangerous, because once unions are allowed on site, they will block our attempts to introduce laborsaving techniques (such as large-scale containerization) into the port.</p><br><br>

<h5>Industry Mix</h5>
<p>This is a difficult issue for us to analyze. We are not arguing for any fixed combination of industries over another; rather, we are arguing for the freedom to develop any combination of industries we choose. Under this scenario, we could develop those industries most likely to generate revenues for the region, those most likely to resist fluctuations in the economy, and those most likely to benefit from access to a deep- water port.</p>
<p>The environmentalists, however, would have us limit our industry mix to a narrow base of all-clean industries. This would prevent us from pursuing the most profitable industry mixes and could make the local economy highly susceptible to fluctuations in the business cycle. Although there is tremendous uncertainty in these forecasts, our analysts suggest we could forgo roughly $200 to 375 million in potential profits if forced to limit our mix.</p>
<p>We have assigned the following points to each of the industry mix options up for
discussion
<ul><li>Primarily dirty = 14 points</li>
<li>Clean/dirty = 8 points</li>
<li>All clean = 0 points</li></ul>
We've assigned the middle option – clean/dirty – slightly more than half the points possible, because it would enable us to include a highly profitable resource recovery plant.</p><br><br>
<h5>Ecological Impact</h5>
<p>Common sense suggests that anytime you build anything, you are probably going to disrupt the ecology. We have tried to be sensitive to environmental concerns by planning construction and dredging so as to avoid unnecessary disruption. We have also been sensitive to existing federal and state standards. We do not propose to break the law.</p>
<p>Losing this issue could cost us a significant amount of money, since it could force us to alter our dredging and construction plants in very costly ways. Furthermore, the environmentalists' wish list could cost us up to $280 million, if we do all they ask to improve the ecological setting.</p>

<p>In addition to the monetary concerns, we have some ideological feelings about this issue. Environmentalists are asking us to foot the bill for improvements that are properly the responsibility of government, not business.
In light of these concerns, we have assigned the following points to this issue:
<ul><li>Do some harm to the ecological setting = 11 points</li>
<li>Maintain and repair the setting = 7 points</li>
<li>Improve the setting</li>
</ul>
The points reflect the fact that the improvements would be more than twice as costly as maintaining and repairing the ecological setting.</p><br><br>

<h5>Unanimity Bonus</h5>
<p>It has been rumored that certain parties might take legal action against the deep-water port if the FLA accepts a proposal that they did not support. This would lead to annoying delays and potentially exorbitant legal fees. The only way to eliminate the possibility of such suits would be to pass an agreement supported by all five other parties. That is, the FLA will agree to a proposal that four of the five parties support, but the proposal would obviously be much more stable if it is supported by all five other parties.</p>
<p>With Harborco's interest in a successful port in mind, the following bonus points have been assigned to this issue:
<ul><li>All five other parties agree to the terms of the port = 10 points</li>
<li>Four of the five other parties agree = 0 points</li>
<li>No agreement is reached = 0 points</li></ul>
However, this bonus does not count toward the minimum 55 points Harborco needs to accept the substance of any proposal.</p>

<p>Below is a scoring table that summarizes the points we have assigned to each of the five issues. This information is CONFIDENTIAL! You should not show your scoring sheet to anyone! Good luck. We are confident that you will negotiate an extremely valuable agreement for us.</p><br><br>
<center>
<h4>Points table</h4>
<div id="points"><table>
<tr><th>Issue</th><th>Options</th><th>Points</th></tr>

<tr><td rowspan=3>Industry Mix</td><td>Primarily dirty</td><td>14</td></tr>
<tr><td>Clean & dirty</td><td>8</td></tr>
<tr><td>All clean</td><td>0</td></tr>

<tr><td rowspan=3>Ecological Impact</td><td>Harm</td><td>11</td></tr>
<tr><td>Maintain & repair</td><td>7</td></tr>
<tr><td>Improve</td><td>0</td></tr>

<tr><td rowspan=4>Employment Rules</td><td>Unlimited union preference</td><td>0</td></tr>
<tr><td>Union quota 2:1</td><td>5</td></tr>
<tr><td>Union quota 1:1</td><td>10</td></tr>
<tr><td>No Union preference</td><td>17</td></tr>

<tr><td rowspan=4 style="background-color:white">Federal Loan</td><td>$3 Billion</td><td>35</td></tr>
<tr><td>$2 Billion</td><td>29</td></tr>
<tr><td>$1 Billion</td><td>20</td></tr>
<tr><td>no federal loan</td><td>0</td></tr>

<tr><td rowspan=5>Compensation to other ports</td><td>HarborCo pays $600 million</td><td>0</td></tr>
<tr><td>HarborCo pays $450 million</td><td>5</td></tr>
<tr><td>HarborCo pays $300 million</td><td>10</td></tr>
<tr><td>HarborCo pays $150 million</td><td>15</td></tr>
<tr><td>HarborCo pays nothing</td><td>23</td></tr>

</table></div><br>
There is also a <strong>Unanimity Bonus</strong> of 10 points
</center>
<br><br><br>





<div style="background-color:lightgray; font-size:.75em;padding:2%">
This case was written by Denise Madigan and Thomas Weeks under the supervision of Professor Lawrence Susskind (M.I.T.), Assistant Professor David Lax and the Negotiation Roundtable. Copies are available from the Teaching Negotiation Resource Center (TNRC), online at www.pon.org, by email: tnrc@law.harvard.edu, or by telephone at 800-258-4406. This case may not be reproduced, revised or translated in whole or in part by any means without the written permission of the Teaching Negotiation Resource Center Coordinator, Program on Negotiation at Harvard Law School, 501 Pound Hall, Cambridge, MA 02138. Please help to preserve the usefulness of this case by keeping it confidential. Copyright © 1984, 1988, 1989, 1994, 1995, 1996, 2007, 2014, 2018 by the President and Fellows of Harvard College. All rights reserved. (Rev. 9/18)
</div>
<br><br>
<div id="clocked" style="margin-left:90%">
    {% next_button %}
</div>

{% endblock %}
