{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Planning Document
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
{% endblock %}

{% block content %}


<div style="text-align:left">
Write about how you will approach this negotiation. In particular you should think about how you will approach forming a coalition or addressing a coalition that excludes you.<br><br>

<a target="_blank" rel="noopener noreferrer" href="{{ assignment_url }}">Link to Canvas assignment</a>.

<br>
<br>
    View the case materials <a href="{% static pdf_file %}" download>here</a>.
<br>
  <div style="margin-left:90%">
        {% next_button %}
  </div>
<br>
<br>
{% endblock %}
