{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
  Harbor Co
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
{% endblock %}

{% block content %}

You now preparing to negotiate the <b><i>Harbor Co</i></b> case, a <strong>six-party</strong> case with a variety of issues.<br>

<br><br>
You will:
<ul>
<li>read the case at your own pace.</li>
<li>write a planning document at your own pace.</li>
<li>have {{ Constants.negotiating_time }} minutes for negotiations once class starts on Thursday.</li>
<li>report the outcome and have an opportunity to reflect on the negotiation.</li>
</ul>
<br>
<div style="margin-left:90%">
    {% next_button %}
</div>
<br>

{% endblock %}
