{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Fillmore Lawns case
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
{% endblock %}

{% block content %}

You now preparing to negotiate the <b><i>Fillmore Lawns</i></b> case, a <strong>six-party</strong> case with a variety of issues.<br>

<br><br>
You will:
<ul>
<li>read the case at your own pace.</li>
<li>use the built-in calculator to understand your payoffs</li>
<li>write a planning document and submit it at least two hours before the start of class.</li>
</ul>

You will have 95 minutes to negotiate and will be using the webapp to vote. You'll also have access to the same type of calculator during the live negotiation.
<br><br>
<div style="margin-left:90%">
    {% next_button %}
</div>
<br>

{% endblock %}
