{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Negotiation check in
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
{% endblock %}

{% block content %}

<div>
<h6>Please answer the following questions about negotiating the upcoming case in person .</h6>
<br><br>
 {% formfield player.healthcheck %}
 <br><br>
<p>If you're healthy and want to negotiate in person, I'll <em>try</em> to assign you to an in-person group. If not, you'll use a Zoom breakout room. <strong>PLEASE, let me know if you develop COVID symptoms between submitting this form and the start of the negotiation.</strong></p>
{% formfield player.inperson %}

</div>
<div style="margin-left:90%">
    {% next_button %}
</div>


{% endblock %}
