{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
HarborCo

{% endblock %}


{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
<style>
#points {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#points td, #points th {
  border: 1px solid #ddd;
  padding: 2px;

  text-align: center;
}

.tr_top {
  border-bottom: 3px solid;
}

#points tr:nth-child(even){background-color: #f2f2f2;}


#points th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #8c1515;
  color: white;
}
</style>
{% endblock %}

{% block content %}
<script type="text/javascript" src="{% static 'global/jquery.countdown.js' %}"></script>
<br>
<p>You can also <a href="{% static pdf_file %}" download>download the General Instructions and this page of role specific information here.</a></p>
<br>
<h4>Role of <em>HarborCo</em></h4>
<br>


<div style="background-color:lightgray; font-size:.75em;padding:2%">
This case was written by Denise Madigan and Thomas Weeks under the supervision of Professor Lawrence Susskind (M.I.T.), Assistant Professor David Lax and the Negotiation Roundtable. Copies are available from the Teaching Negotiation Resource Center (TNRC), online at www.pon.org, by email: tnrc@law.harvard.edu, or by telephone at 800-258-4406. This case may not be reproduced, revised or translated in whole or in part by any means without the written permission of the Teaching Negotiation Resource Center Coordinator, Program on Negotiation at Harvard Law School, 501 Pound Hall, Cambridge, MA 02138. Please help to preserve the usefulness of this case by keeping it confidential. Copyright © 1984, 1988, 1989, 1994, 1995, 1996, 2007, 2014, 2018 by the President and Fellows of Harvard College. All rights reserved. (Rev. 9/18)
</div>
<br><br>
<div id="clocked" style="display:none;margin-left:90%">
    {% next_button %}
</div>

{% endblock %}
