{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Construct a proposal

{% endblock %}


{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">


</style>
{% endblock %}

{% block content %}
<br>
<h5>As HarborCo, you can put proposals up for vote. First select an option for each of the five issues listed below.</h5>
<br>
<h6>Notes</h6>
<ul><li>After submitting the five options you will not be able to change the options before the vote. Please select carefully!</li>
<li>The issues are initialize with the options of the original HarborCo proposal.</li></ul>

{% formfields %}


<div id="clocked" style="margin-left:90%">
    {% next_button %}
</div>


{% endblock %}
