{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Entering (or Re-entering) Negotiations
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
<style>
.otree-timer {
    display: none;
}
</style>
{% endblock %}

{% block content %}

<br><br>
  You are (re)-entering negotiations. You will vote on a proposal either at an appointed time (15, 40 and 80 minutes) or when HarborCo puts a proposal up for a vote.
<br><br><br>
<div style="margin-left:90%">
    {% next_button %}
</div>
<br>

{% endblock %}
