{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Federated Science
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
{% endblock %}

{% block content %}
<br><br>
{% if in_first %}
<h4>You are now ready to negotiate!</h4>

As the representative of <strong>{{ rep }}</strong> you will first be meeting with the represenative of <strong>{{ alter }}</strong>. You'll have approximately 5 minutes to negotiate with your counterpart before the third representative joins.<br><br>

You have been, or will shortly be, assigned to a breakout room with your first counterpart. Once you have successfully joined the breakout room, you can get back to case materials by advancing to the next page.<br><br><br><br>

{% else %}
As the representative of {{ rep }} you are waiting for a chance to negotiate with the other parties. They had previously agreed to meet privately and they'll have approximately 5 minutes of private conversation before you will join them. That 5 minute period has just begun.
<br><br><br>
{% endif %}




<div style="margin-left:90%">
    {% next_button %}
</div>
<br>

{% endblock %}
