{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Federated Science
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
{% endblock %}

{% block content %}
<br><br>
{% if in_first %}
<h4>You are now ready to negotiate!</h4>

As the representative of <strong>{{ rep }}</strong> you will first be meeting with the represenative of <strong>{{ alter }}</strong>. You'll have approximately 5 minutes to negotiate with your counterpart before the third representative joins.<br><br>

Please meet with your counterparties as quickly as possible. You can get back to case materials by advancing to the next page.<br><br><br><br>

{% else %}
As the representative of {{ rep }} you will be joining the other parties late. They previously agreed to meet privately and they'll have approximately 5 minutes of private conversation before you will join them. That 5 minute period will begin as soon as they meet.
<br><br><br>
{% endif %}




<div style="margin-left:90%">
    {% next_button %}
</div>
<br>

{% endblock %}
