{% extends 'otree/Page.html' %}
{% load otree %}
{% block title %} Reporting the Outcome
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static "global/custom_theme.css" %}">
{% endblock %}



{% block content %}

Please enter the final split of the <em>Federated Science</em> funding. All three parties will do this in order to verify the outcome.<br><br>

Please put answers in dollars (e.g. $1500000), not millions of dollars.
<br><br>
<div id="inputs">
Stockman: $ <input id="stockman" type="number" name="stockman" value=0><br><br>
Turbo:&emsp;&nbsp; &nbsp;  $ <input id="turbo" type="number" name="turbo" value=0><br><br>
United:&emsp; &nbsp; $ <input id="united" type="number" name="united" value=0><br><br>
</div>
Total: &emsp;&emsp; $<output id="subtotal"></output><br><br>
<div id="sumMessage" style="display:block"></div>
<br><br><br>
<div style="margin-left:90%">
    {% next_button %}
</div>
<br>
<script>
document.querySelector("#inputs").addEventListener("change", function(e){
  var subtotal=Number(document.querySelector("#stockman").value)+Number(document.querySelector("#turbo").value)+Number(document.querySelector("#united").value);
  document.querySelector("#subtotal").value = subtotal;

if (Number(document.querySelector("#stockman").value) != 0 && Number(document.querySelector("#turbo").value) != 0 || Number(document.querySelector("#stockman").value) != 0 && Number(document.querySelector("#united").value) != 0 || Number(document.querySelector("#united").value) != 0 && Number(document.querySelector("#turbo").value) != 0){
  if (Number(document.querySelector("#stockman").value) == 0){
    if (subtotal == 3000000){
      document.querySelector("#stockman").setCustomValidity('');
      document.querySelector("#turbo").setCustomValidity('');
      document.querySelector("#united").setCustomValidity('');
      document.querySelector("#sumMessage").innerHTML = "";}
    else {

      document.querySelector("#sumMessage").innerHTML = "Please check the inputs. Because Stockman isn't a part of the consortium, the sum of Turbo and United's funding needs to equal $3,000,000";}
    }
  else if (Number(document.querySelector("#turbo").value) == 0){
    if (subtotal == 3800000){
      document.querySelector("#stockman").setCustomValidity('');
      document.querySelector("#turbo").setCustomValidity('');
      document.querySelector("#united").setCustomValidity('');
      document.querySelector("#sumMessage").innerHTML = "";}
    else {

      document.querySelector("#sumMessage").innerHTML = "Please check the inputs. Because Turbo isn't a part of the consortium, the sum of Stockman and United's funding needs to equal $3,800,000";}}
    else if (Number(document.querySelector("#united").value) == 0){
      if (subtotal == 4400000){
        document.querySelector("#stockman").setCustomValidity('');
        document.querySelector("#turbo").setCustomValidity('');
        document.querySelector("#united").setCustomValidity('');
        document.querySelector("#sumMessage").innerHTML = "";}
      else {

        document.querySelector("#sumMessage").innerHTML = "Please check the inputs. Because United isn't a part of the consortium, the sum of Stockman and Turbo's funding needs to equal $4,400,000";}}
    else {
      if (subtotal == 4800000){
        document.querySelector("#stockman").setCustomValidity('');
        document.querySelector("#turbo").setCustomValidity('');
        document.querySelector("#united").setCustomValidity('');
        document.querySelector("#sumMessage").innerHTML = "";}
      else {

        document.querySelector("#sumMessage").innerHTML = "Please check the inputs. Because all three are a part of the consortium, the sum of the funding needs to equal $4,800,000";}}}

})

</script>
{% endblock %}
